[2017-08-04 15:01] egoist opened #1 "Support custom backend"
- [x] express
- [x] koa
- [ ] hapi

[2017-08-04 18:03] egoist opened #3 "Unit testing for Vue components"

[2017-08-05 03:49] egoist opened #4 "Improve documentation"
Maybe made a simple static website for create-nuxt-app with create-nuxt-app

[2017-08-05 03:51] egoist commented on #4
Need some help cuz I'm kinda suck at design

[2017-11-11 15:35] ruslankonev opened #9 "It is a good things to separate styles & javascripts in build version"

[2017-12-07 05:35] frizadiga opened #13 "what difference between this project with nuxt-cli ?"
I just feel both of these things overlap with each other

[2017-12-12 12:40] Atinux commented on #13
Actually nuxt-cli is not ready yet and it will spawn `create-nuxt-app` directly :)

[2017-12-12 12:40] #13 closed

[2017-12-12 12:40] #9 closed

[2017-12-18 16:09] SteveALee opened #14 "Question: is Axios the best tool for backend calls?"
I'm new to nuxt and was thinking of using async / await + Fetch, but axios seems to be the clear favourite in Vue land.

is there a good reason for this?

thanks

[2018-01-05 09:40] Atinux commented on #14
Hi @SteveALee

Axios is well supported, offer many options that are not restricted like `fetch`, also it works both client-side and server-side (for `fetch` you need to add a global polyfill on node.js)

Also, it's only 4,8kB gzipped: https://bundlephobia.com/result?p=axios@0.17.1

[2018-01-05 09:40] #14 closed

[2018-01-05 09:40] #3 closed

[2018-01-05 09:40] #1 closed

[2018-01-05 13:43] SteveALee commented on #14
Thanks for the explanations!

[2018-01-09 05:00] ricardopolo opened #15 "Is this updtated with Nuxt 1.0?"

[2018-01-09 19:03] icebob opened #16 "Weird missing dependency"
Hi guys,

I created a project with `create-nuxt-app` and tried to start with `npm run dev` but I got error messages:
[code]

What is the problem? The mentioned "install ...js" message is not valid, I can't install a JS file with `npm install`.

Thanks in advance!

[2018-01-10 01:30] zhouxinyong commented on #16
the same issue +1

[2018-01-10 02:11] egoist commented on #16
/cc @Atinux

[2018-01-10 09:45] Atinux commented on #16
Weird, what are the option you chose?

[2018-01-10 13:29] clarkdo commented on #16
Fixed by #17

[2018-01-10 13:30] clarkdo commented on #15
Resolved by #17

[2018-01-10 14:30] #15 closed

[2018-01-10 14:30] ricardopolo commented on #15
@clarkdo it will be allwyas up to dated? I am afraid the releases of the CLI may be slower of the public version

[2018-01-10 14:37] clarkdo commented on #15
We will directly use lastest nuxt for cli and keep synchronization between them.

[2018-01-10 14:39] egoist commented on #15
@ricardopolo with `nuxt^1.0` you always get latest nuxt

[2018-01-12 12:27] zarapustra commented on #16
today i have same problem
node 8.9.3
eslint: yes - gives this error

[2018-01-12 12:34] clarkdo commented on #16
Fix will be included in next release

[2018-01-16 10:27] #16 closed

[2018-01-17 15:26] lucasfontesgaspareto opened #19 "404 - This page could not be found"
I'm create a nuxt app with settings below
 - No backend framework
 - Vuetify
 - No axios
 - ESLint

and every page when that i'm access show in log this message: `{ statusCode: 404, message: 'This page could not be found' }`. I wanna to know where and why this message is outputted.

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a

[2018-01-22 03:50] binler opened #22 "Error when build with adonisjs"
when build simple project with adonisjs, i found error missing file .env when build with adonisjs

[2018-01-22 07:33] joshua1 opened #23 "Typescript support"
It would be nice to have typescript/tslint  support as part of the configuration

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/create-nuxt-app/issues/c16">#c16</a>)</em></sub></div>

[2018-01-24 07:20] osben opened #24 "Does not quit using vue-slideout"
Is there an example of using vue-slideout?

[2018-01-24 23:19] magick93 commented on #16
Is there a workaround?

[2018-01-25 00:39] egoist commented on #16
@magick93 fixed already.

[2018-01-29 00:48] Duzbee opened #25 "Hot Reloading Issue / This page could not be found"
I tried creating apps with each of these configurations (With create-nuxt-app, but I tried without it and I had the same issue after adding a simple error page and a nuxt link to a random page to check the error page):
no custom server framework, no custom UI framework, universal, no axios, no eslint, npm
express, bootstrap, universal, no axios, no eslint, npm

I need to specify that I tried with

[2018-01-29 08:57] Duzbee commented on #25
I removed the proxy_redirect and it works perfect now.

[2018-01-29 09:22] Duzbee commented on #25
Actually I tried to update nuxt and bootstrap-vue to latest version the the problem appeared again only on the domain. I downgraded them but even before this everytime I tried to access the server through the domain I got a 404 error for /bootstrap.css.map and in the chrome console I get a lot of there errors after a while:
![2d372a25b8fb9add3267feaba3e45870](https://user-images.githubusercontent.

[2018-01-29 09:32] Duzbee commented on #25
I updated again and added proxy_redirect off; at the top of location / in the nginx config but the bootstrap.css.map error is still there only when connecting through the reverse proxy.

[2018-01-29 09:53] Duzbee commented on #25
bootstrap.css.map issue fixed by removing /*# sourceMappingURL=bootstrap.css.map */ from node_modules/bootstrap/dist/css/bootstrap.css. Looks like it's working well now.

[2018-01-29 10:32] bovas85 opened #26 "Different behavior from vue-cli"
# Expected behavior
Creates a folder named as the project where files are

# Current behavior
It downloads the files in pwd current directory

[2018-01-30 11:00] Duzbee commented on #25
I just tried to add socket.io-client from the with sockets example and I have the first problem again (/_nuxt/...hot-update.json 404 error on dev server and page refresh every second, only on nginx reverse proxy, it works ok with direct ip). Can somebody give me a working nginx reverse proxy config to make this work properly?

[2018-01-30 11:04] Duzbee commented on #25
I purged cache and activated development mode in cloudflare and somehow this stopped that error but now I get another one which also doesn't happen on direct IP:
![b2bfd2df935e42abe34f6b8f0539e3e0](https://user-images.githubusercontent.com/16373987/35563063-29701058-05be-11e8-8af4-21ccbdc27ce0.png)

[2018-01-30 11:18] o1lab opened #27 "How to put all frontend code in a folder ?"
After creating new nuxt app

[code]

I placed all frontend related folders (pages, layouts, components..etc) in root folder to a folder named 'client'. I have only three folders on root level now (client, server, node_modules)

On
[code]

nuxt expects 'pages' folder to be in root folder and throws up an error.

#### Is there a value that could be changed in nuxt.config.js so that nuxt knows that a

[2018-01-30 12:53] Duzbee commented on #25
Looks like everytime I change something I need to use npm run build otherwise I get errors or the production server doesn't work. I'm really confused.

[2018-02-05 09:46] Atinux commented on #27
Yes there is @o1lab, it's called `srcDir`: https://nuxtjs.org/api/configuration-srcdir

[2018-02-05 09:46] #27 closed

[2018-02-05 09:46] Atinux commented on #26
@egoist is it possible with SAO?

[2018-02-05 09:49] Atinux commented on #25
Hi @Duzbee

Actually it's due to your proxy, but this has nothing to do with this repo.

[2018-02-05 09:49] #25 closed

[2018-02-05 09:50] Atinux commented on #24
Wrong repo sorry, you can ask the question to vue-slideout directly :)
https://github.com/vouill/vue-slideout

[2018-02-05 09:50] #24 closed

[2018-02-05 10:01] egoist commented on #26
It should already work, I suppose.

[2018-02-05 10:01] Atinux commented on #22
Fixed in v1.1.1 :)

[2018-02-05 10:01] #22 closed

[2018-02-05 10:03] egoist commented on #26
I don't get the question, what does _Creates a folder named as the project where files are_ mean?

[2018-02-05 10:04] bovas85 commented on #26
pwd
CurrentUser/Desktop
run cli here <!--
files are created inside Desktop folder rather than Desktop/projectname

[2018-02-05 10:10] egoist commented on #26
Isn't that the expected behavior? 😅

[2018-02-05 10:18] egoist commented on #26
hmm it's different in create-nuxt-app, if you don't specify a folder name it will generate in cwd otherwise in the specified folder. It's different from `vue-cli init` but is the same as `yeoman`, we don't need to make them behave in the same way (until @Atinux thinks we should), anyways even `vue-cli init` will be deprecated in vue-cli 3.0

[2018-02-05 10:20] Atinux commented on #26
Thanks for your explanations @egoist

We will keep the current behaviour.

[2018-02-05 10:20] #26 closed

[2018-02-05 11:21] bovas85 commented on #26
I see, thanks for clarifying

[2018-02-05 15:08] joaocarvalhowd opened #30 "Unit testing support"
<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/create-nuxt-app/issues/c14">#c14</a>)</em></sub></div>

[2018-02-06 11:34] o1lab commented on #27
That is a neat feature.

[2018-02-09 18:19] bendo01 opened #32 "add buefy to ui framework"
please add buefy to ui framework
https://buefy.github.io/#/

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/create-nuxt-app/issues/c17">#c17</a>)</em></sub></div>

[2018-02-12 02:41] althaffe commented on #32
+1

[2018-02-14 11:47] mjbates7 opened #33 "Server Rendered Deployment (Universal)"
Hi, had a look around at the issues/documentation, but couldn't find anything specific to my question:

What do we need to deploy to our server to run it in Server Rendered Deployment (Universal)?

image
![image](https://user-images.githubusercontent.com/4522738/36202685-bd9dc6f2-117c-11e8-8fdc-36eedcd36b79.png)

Does this whole folder have to be deployed to the server for it to work (seems quite

[2018-02-15 00:27] pkej commented on #4
As I have yet to understand how to use the generated code with feathers, I'm at a loss. I'm better at design ;).

Is the created nuxt app supposed to be both client and server, or am I supposed to use a separate back end on a separate server?

As for a documentation server I think something based on a generated site with markdown support ([Nuxtent](https://github.com/nuxt-community/nuxtent-module/

[2018-02-15 00:29] pkej opened #34 "Quasar-framework"
Would it fit in with this?

[2018-02-15 00:45] pkej commented on #23
I suggest a refinement of [tyoescript-template](https://github.com/nuxt-community/typescript-template) containing [vuex-typex](https://github.com/mrcrowl/vuex-typex) and cleaned up dependencies.

[2018-02-15 00:46] pkej commented on #23
Hmm. I didn't read it all and misunderstood the enhancement request.

[2018-02-15 13:06] pkej opened #35 "Add i18n as a step in the process"
Title says it all, there is an i18n example in the documentation, though I think i18next would be preferable.

The documentation example, however, is naïve, it places the locales in one folder, which is okay for a framework default and as a starting point. As a developer with some localization experience I prefer to make each class/plugin/component etc. have their data, configuration, locales, etc

[2018-02-15 13:09] pkej opened #36 "dev: nodemon just watching server"
During development, I noticed that nodemon is set to just watch everything in the "/server" path. I don't know why that decision was made because as soon as I start developing the generated app I prefer it to look at everything.

This might be marked as no change, but perhaps it should be documented? This is something I wouldn't have been able to catch the first time I started development with nod

[2018-02-16 09:50] stoumann opened #38 "Updating tailwindcss - how?"
I just started to try this **create-nuxt-app** and were happy to see that i could select **tailwindcss** but i can see that it's an old version and i can't figure out how to update it to the latest version (0.4.1)

Can anyone help me? :)

**UPDATE** - I found out that i can use the node-module instead but why isn't it using this by default?

[2018-02-16 16:31] egoist commented on #38
Did something break after updating the dependency?

what should be used by default?

[2018-02-16 18:24] stoumann commented on #38
Nothing broke by updating the dependency. The dependency wasn't imported in the .nuxt/App.js file - it was a static tailwind.css file instead.

It's probably me who are doing something wrong, but i changed the import in the .nuxt/App.js to the tailwind node-module css instead.

[2018-03-01 19:46] Splode opened #39 "Unable to Run Newly Created App"
After creating a new `Universal` app and running either `npm run dev` or `npm run build`, npm exits with error.

## Expected Behavior
Expect a dev server to spool up and serve the Nuxt application when running either `npm run dev`.

## Current Behavior
npm exits with the following error:

[code]

## Steps to Reproduce

1. With `create-nuxt-app` installed globally, run `create-nuxt-app <app-name>`

[2018-03-01 20:23] Splode commented on #39
## Solved
This issue was solved by upgrading Node to the LTS version:
Node version `8.9.4`
npm version `5.6.0`

[2018-03-01 20:23] #39 closed

[2018-03-05 21:09] o1lab opened #40 "Creation of new app is crashing (Options: Express + vuetify + Universal + Axios)"
Options provided to npx create-nuxt-app are as below

[code]

On npm run dev
[code]

[2018-03-06 10:00] o1lab commented on #40
I just noticed problem not seen in node v8.9.4.
Problem was seen in node v8.2.1.

[2018-03-09 03:03] DanielRSnell commented on #4
I wouldn't mind putting something together for you, let me know how I can get involved. I have yet to contribute to a project, therefore I think this would be a good place for me to start. I love the framework and have been very involved with spreading the word about it and adonuxt.

Let me know!

[2018-03-12 12:56] egoist opened #42 "Use checkbox in prompts"
https://github.com/SBoudrias/Inquirer.js#checkbox---type-checkbox

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/create-nuxt-app/issues/c25">#c25</a>)</em></sub></div>

[2018-03-13 15:39] Atinux commented on #42
👍

We will add it for modules integration :)

[2018-03-13 15:39] #40 closed

[2018-03-13 15:39] #38 closed

[2018-03-13 15:40] Atinux commented on #36
Hi @pkej

We will work on improving this cli and the documentation related to it. Thank you for reaching out!

[2018-03-14 15:15] Steven0811 opened #43 "Upgrade to feathers 3"
This cli tool is easy for me to create a nuxt project and I love it!

but I got some question about 'why not upgrade nuxt and feathers to last version?'

<div align="right"><sub><em>This question is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/create-nuxt-app/issues/c26">#c26</a>)</em></sub></div>

[2018-03-18 17:06] mjbates7 commented on #43
I agree, would be good to see it run on the latest version or the reasons for not

[2018-03-19 02:49] egoist commented on #43
It is using the latest version of Nuxt, PR welcome for updating feathers

[2018-03-19 10:22] mjbates7 commented on #43
I've just created a dummy project using the create nuxt-app and it doesn't list nuxt 1.4.0 as a dependency:

![image](https://user-images.githubusercontent.com/4522738/37590129-34aa86b2-2b5f-11e8-8414-c4d8da2f62e8.png)

[2018-03-19 10:42] MalikFaizanZafar opened #44 "npm run dev fails on npx create-nuxt-app with vuetify"
![vuetify error](https://user-images.githubusercontent.com/29966551/37591094-2e68cbec-2b8c-11e8-95fe-fb22af4185eb.PNG)

[2018-03-20 08:48] AndrewBogdanovTSS commented on #23
It would be great to incorporate existing [nuxt-community/typescript-template](https://github.com/nuxt-community/typescript-template) inside **create-nuxt-app**
As far as I understand the [related](https://github.com/nuxt-community/typescript-template/issues/38) issue was already logged by @pkej

[2018-03-20 21:31] OReshetnikov commented on #44
similar wth https://github.com/vuetifyjs/nuxt/issues/33

[2018-03-22 00:40] koresar commented on #44
Was fixed with new postcss-loader@2.1.3. This issue is fixed and can be closed.

[2018-03-22 09:01] #44 closed

[2018-03-26 10:47] fuxic commented on #43
Also want to update versions

[2018-03-26 12:31] egoist commented on #43
@mjbates7 `^` means everything greater than a particular version in the same major range.

[2018-03-26 14:10] 3chrisprosise opened #45 "Not compatible with @nuxtjs/auth?"
when using create-nuxt-app to create a project ,add axios module then add @nuxtjs/auth ,and you will get error like :
[code]

[2018-03-26 14:11] #45 closed

[2018-03-26 20:07] Atinux commented on #23
Indeed, we need to finish @nuxtjs/typescript so we will able to add it inside `create-nuxt-app`.

[2018-03-31 16:15] Oliboy50 opened #48 "Creating a new brand project is failing"
### Version

[v1.1.1](https://github.com/nuxt-community/create-nuxt-app/releases/tag/v1.1.1)

### Reproduction link

[http://no-need-for-a-link.example.com](http://no-need-for-a-link.example.com)

### Steps to reproduce

➜  npx create-nuxt-app anime-list-front
npx : 307 installé(s) en 9.648s

? Project name anime-list-front
? Project description anime-list-front
? Use a custom server framework non

[2018-03-31 16:54] Oliboy50 commented on #48
ok, the `3)` issue is this one => https://github.com/nuxt/nuxt.js/issues/2927

(updating my `nodejs` bin fixed it)

but there's still the `1)` and `2)` issues

[2018-04-10 16:27] #48 closed

[2018-04-10 16:27] Atinux commented on #48
Hi @Oliboy50

This is fixed with v1.2.0, Nuxt 2 will also add back support to node 6.

[2018-04-12 09:53] Atinux commented on #23
cc @breakingrobot

[2018-04-16 05:51] sudhir600 commented on #16
I found the same issue.
where is the fix.. can anyone write step by step guide, please?

![image](https://user-images.githubusercontent.com/4952560/38791957-50e4889a-4168-11e8-805d-c909dec52385.png)

[2018-04-16 06:31] clarkdo commented on #16
@sudhir600
Can you give us more details about your steps and version you are using to reproduce this issue.

[2018-04-16 06:40] sudhir600 commented on #16
Hi @clarkdo,
I follow Nuxt installation process.
1. downloaded the starter template
2. Run npm install
3.  and then npm run dev
after that build process show but then a same error occurred.
I am pushing the code in a while.

[2018-04-16 08:38] clarkdo commented on #16
@sudhir600
Your issue is due to lack of dependencies `eslint`, `babel-eslint`, `eslint-loader` and `eslint-plugin-vue` when using `eslint-loader`, you can use `npm` or `yarn` to install them.

[code]

I will check the starter-template and I recommend you to use `create-nuxt-app` to generate the project 😄

[2018-04-16 08:40] clarkdo commented on #16
@sudhir600
Actually [starter-template package.json](https://github.com/nuxt-community/starter-template/blob/master/template/package.json#L18-L24) included them, but your project is missing.

[2018-04-16 08:42] sudhir600 commented on #16
ok.. let me install it.

[2018-04-16 08:46] sudhir600 commented on #16
Wow.. its working fine now.
Thanks alot @clarkdo

[2018-04-23 20:06] hadihallak opened #49 "Adonis 4.1 support"
### What problem does this feature solve?

keep the template up to date.

<div align="right"><sub><em>This feature request is available on <a href="https://nuxtjs.cmty.io">Nuxt.js</a> community (<a href="https://nuxtjs.cmty.io/nuxt-community/create-nuxt-app/issues/c31">#c31</a>)</em></sub></div>

[2018-04-25 02:50] leetskil opened #50 "nuxt express integration"
do i have to configure express to connect with nuxt?

or is it fully automated to connect express with nuxt?

though nuxt can automatically generate route through /page folder

i just want to know if it is possible with express.

[2018-04-25 02:50] #50 closed

[2018-04-25 02:53] leetskil opened #51 "nuxt express integration"
do i have to configure express to connect with nuxt?

or is it fully automated to connect express with nuxt?

though nuxt can automatically generate route through /page folder

i just want to know if it is possible with express.

[2018-04-25 02:53] #51 closed

[2018-04-25 16:36] Extarys commented on #51
Here is a template to start with nuxt and express:
https://github.com/nuxt-community/express-template

Hope it helps. Happy coding

[2018-04-26 07:45] chanlito commented on #51
@leetskil did @Extarys response resolve your issue?

[2018-04-28 14:09] IlhamWahabiGX opened #52 "nuxt generate result not run properly"
### Version

[v1.2.0](https://github.com/nuxt-community/create-nuxt-app/releases/tag/v1.2.0)

### Reproduction link

[https://github.com/IlhamWahabiGX/gamais-client](https://github.com/IlhamWahabiGX/gamais-client)

### Steps to reproduce

Its just fresh project,

`create-nuxt-app myapp` and run `npm run generate` inside that. And try run `index.html`

### What is expected ?

There is no error in c

[2018-04-30 06:57] codeitlikemiley commented on #33
i suggest add .gitignore for dist and .nuxt...
dist folder is for static pages which you might to use with netflix

if you need to run on your server with nodejs
as a universal app
you need to clone your project
do npm install
to install all dependencies
and do npm build to create the .nuxt folder
of course you need to run a web server such as nginx to proxy your request
on localhost:3000 to the d

[2018-04-30 08:15] seybsen commented on #32
It was already added with 26b971f

[2018-05-02 17:09] lovelamp opened #53 "issue with adonis server, bulma ui"
lovelamp$ npm run dev

[nodemon] 1.17.3
[nodemon] to restart at any time, enter `rs`
[nodemon] watching: /Users/lovelamp/dev/nuxt-proj/app/**/* bootstrap /Users/lovelamp/dev/nuxt-proj/config/**/* .env
[nodemon] starting `node server.js`
SyntaxError: Unexpected token ...
 at /Users/lovelamp/dev/nuxt-proj/app/Controllers/Http/NuxtController.js (/Users/lovelamp/dev/nuxt-proj/app/Controllers/Http/Nuxt

[2018-05-02 17:09] #53 closed

[2018-05-24 10:16] fuxic commented on #43
Please nuxt 1.4 / vuetify 1.0 or quasar (need author help for release) / feathers 3

[2018-05-28 06:28] factordog opened #54 "Module build failed"
Running a fresh create-nuxt-app <project>

Using all defaults, no server, no ui, universal app etc. Just baseline. Keeps throwing an error on yarn/npm run dev:

`Module build failed: Error: No parser and no file path given, couldn't infer a parser.
    at normalize (D:\workspace\learning\Vue\Nuxt\nuxt-blog\node_modules\prettier\index.js:7051:13)
    at formatWithCursor (D:\workspace\learning\Vue\N

[2018-05-28 06:28] #54 closed

[2018-05-28 06:40] factordog opened #55 "Module build failed"
### Version

[v1.2.0](https://github.com/nuxt-community/create-nuxt-app/releases/tag/v1.2.0)

### Reproduction link

[https://github.com/factordog/nuxt-blog](https://github.com/factordog/nuxt-blog)

### Steps to reproduce

Run create-nuxt-app <project>
 - no server
- no ui
- No http
- No lint
- install yarn or use npm

Run yarn/npm run dev
- Observer logs in terminal

### What is expected ?

Shoul

[2018-05-28 13:40] matt-potter commented on #55
I had this - it's a recent (the last 24 hours) update to the prettier npm package which has broken a lot of things. Forcing prettier to version 1.12.1 will fix. More [here](https://stackoverflow.com/questions/50561649/module-build-failed-error-no-parser-and-no-file-path-given-couldnt-infer-a-p)

[2018-05-28 18:35] factordog commented on #55
Fixed! Mildly frustrating. Any chance this will be amended in the vue-loader or waiting for some fix?

[2018-06-05 06:08] RaymondLC92 commented on #49
Do we have any status updates regarding this?

[2018-06-05 16:29] #55 closed

[2018-06-07 10:00] canhkieu opened #56 "[Feature request] Use Vue-cli-3x to create project"
I thing it will be better if we support create-nuxt-app via Vue-cli-3x. Do you have plan to upgrade?

[2018-06-07 10:00] #56 closed

[2018-06-15 15:15] ramstein74 opened #58 "how to use feathers generate?"
Hi
Using create-nuxt-app i selected feathers in  the "Use a custom server framework"
however if i want to add a feathers service it does not work properly because feathers create service expects a src folder and there is no src folder. Only a Server.
Also the code generated expects a app.js file and the code generated by create-nuxt-app does not create a app.js inside server folder..

help please

[2018-06-15 15:15] #58 closed

[2018-06-19 09:03] alphaelf opened #59 "disable CSRF for SPA"
i use adonis for server side api and for SPA, CSRF must be disable, so is this better disabled by default?

[2018-06-19 09:03] #59 closed

[2018-06-24 18:01] o1lab opened #60 "Please add electron support"
### What problem does this feature solve?

Please add support to scaffold electron app.

Looking for : electron + express + vuetify + axios

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/create-nuxt-app/issues/c43">#c43</a>)</em></sub></div>

[2018-06-24 19:00] itsmichaeldiego commented on #52
@IlhamWahabiGX +1 with this! I could workaround with the answers in https://github.com/nuxt/nuxt.js/issues/2636. How did you guys fix the favicon though?

[2018-06-24 19:30] itsmichaeldiego commented on #52
@IlhamWahabiGX +1 with this! Thanks to you guys I could workaround it with the answers in nuxt/nuxt.js#2636

@limichange How are we looking on this?

[2018-06-26 12:35] rikoz opened #61 "Add vuesax to ui framework"
please add vuesax, it's very nice to use with tailwind
https://lusaxweb.github.io/vuesax/vuesax/

also is it not possible to choose 2 ui frameworks to install during setup.. there might me conditions where you might need to use some elements in the second framework

[2018-06-26 12:35] #61 closed

[2018-06-26 12:44] rikoz opened #62 "Please add vuesax ui component"
### What problem does this feature solve?

please add vuesax,
https://lusaxweb.github.io/vuesax/vuesax/

also is it not possible to choose 2 ui frameworks to install during setup.. there might me conditions where you might need to use some elements in the second framework

### What does the proposed changes look like?

it's very nice to use with tailwind for theming and custom UI

<div align="righ

[2018-07-03 20:36] bart opened #68 "Issue running npm dev with tailwind"
### Version

[v1.2.0](https://github.com/create-nuxt-app/releases/tag/v1.2.0)

### Reproduction link

[https://codepen.io](https://codepen.io)

### Steps to reproduce

create-nuxt-app myproject

? Project name myproject
? Project description My striking Nuxt.js project
? Use a custom server framework none
? Use a custom UI framework tailwind
? Choose rendering mode Universal
? Use axios module no

[2018-07-04 13:03] benbagley opened #69 "Deprecated packages Tailwindcss"
Hi,

I've tried creating an app all using Tailwindcss, I have the following errors though:

[code]

I have tried replacing the packages but I get

[code]

I can install the new packages but not remove them.

[2018-07-04 13:03] #69 closed

[2018-07-04 13:14] benbagley commented on #69
@RomainLanz @Atinux Bug issue here, can this be reopened?

[2018-07-04 15:19] benbagley commented on #68
+1 Getting this my end as well. Here's my issue https://github.com/nuxt-community/create-nuxt-app/issues/69

[2018-07-04 16:57] aldarund commented on #69
its not bug. You cant remove what u dont have in package.json

[2018-07-04 18:30] benbagley commented on #69
@aldarund Read the above... it's a fresh app if everything is not being generated as it should then obviously an issue is occurring somewhere.

Here is what happens when I create a project

`C:\Users\ben\Desktop>yarn create-nuxt-app rantingdevs
yarn run v1.7.0
error Couldn't find a package.json file in "C:\\Users\\ben\\Desktop"
info Visit https://yarnpkg.com/en/docs/cli/run for documentation about

[2018-07-04 18:41] aldarund commented on #68
Its because https://github.com/nuxt-community/create-nuxt-app/blob/master/template/frameworks/tailwind/tailwind.js#L928 require plugin/container but there no plugin/container after project generated. Remove this import in your project manually and it should work.

[2018-07-04 18:41] aldarund commented on #69
@benbagley your initial message ( and what u was trying to do e.g. remove something is totally act as it should) has nothing to do with the errors that u posted.

[2018-07-04 18:43] RomainLanz commented on #69
@benbagley This bug has been fixed yesterday.

https://github.com/nuxt-community/create-nuxt-app/pull/67

[2018-07-04 18:45] bart commented on #68
Or I can npm install it, right?

[2018-07-04 18:48] aldarund commented on #68
@bart change in resource/tailwindjs it in your generated project
./plugins/container
to
 'tailwindcss/plugins/container'

[2018-07-04 18:53] benbagley commented on #69
So I should just need to update right @RomainLanz?

[2018-07-04 19:43] bart commented on #68
This solves the issue, great! Thanks @aldarund

[2018-07-04 19:43] #68 closed

[2018-07-04 20:28] RomainLanz commented on #69
Yes, @Atinux just released a new version an hour ago.

[2018-07-16 06:39] ryanford-frontend opened #70 "Vuetify Does Not Include Jumbotron component"
### Version

[v1.2.0](https://github.com/create-nuxt-app/releases/tag/v1.2.0)

### Reproduction link

[https://gist.github.com/ryanford-frontend/3d5c4a4f2c54e8ab2d3ad8097cf36b0e](https://gist.github.com/ryanford-frontend/3d5c4a4f2c54e8ab2d3ad8097cf36b0e)

### Steps to reproduce

1. create-nuxt-app

2. select `Vuetify` as framework

### What is expected ?

Vuetify comes with a VJumbotron component,

[2018-07-17 05:24] ghost opened #71 "Remove first load scale loading"
This package made pages a loading on page first start. I mean the loading that first you see the page and page get a scale to huge size and then in some second it goes fit the page. I want to remove that. how can I change the settings?

<div align="right"><sub><em>This question is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/create-nuxt-app/issues

[2018-07-17 05:24] #71 closed, assigned to nobody

[2018-07-23 11:22] Chathula opened #73 "BrowserslistError: Unknown browser query `dead` error"
### Version

[v1.2.0](https://github.com/create-nuxt-app/releases/tag/v1.2.0)

### Reproduction link

[https://github.com/nuxt-community/create-nuxt-app](https://github.com/nuxt-community/create-nuxt-app)

### Steps to reproduce

i tried to create a new project. but it shows an error in Bootstrap. i think we need to downgrade boostrap version. how to fix this for all, instead of me without having

[2018-07-23 13:01] clotee commented on #73
maybe, U can edit 'nuxt.config.js' , `'bootstrap-vue/nuxt',`  to ` ['bootstrap-vue/nuxt', { css: false }],`

[2018-07-28 16:08] alowh commented on #70
I'd recommend using the "a la carta" set up and importing it manually. It's more permanent friendly being that you can select the needed components.

You're also able to remove or add components when needed making it future proof.

Personally that's how I set up my vuetify projects and jumbotron works perfectly for me.

It's also not a hard set up to manage so I reccoment it 👌

[2018-07-30 08:39] ryanford-frontend commented on #70
I do use the a la carte setup, however, it needs to be available to be able to import it. It's not being downloaded. See the gist for what *is* available.

[2018-07-30 20:06] aldarund commented on #70
@ryanford-frontend something off with your package manager. afaik nuxt create app dont download it itself, it just use selected package manager.
And i have checked and all is fine and jumbotron are in node_modules/vuetify/
https://gist.github.com/aldarund/78a738c7ad0332728e222f5eb374478c

[2018-07-31 13:48] amandablakley opened #74 "No longer can push any project created with this to git"
Not sure if commit in last 20hours was the causing issue of this but any project spun up with this  through npm now can no longer stage through git. Throws an error but worked previously before the last commit. If I create a nuxt project any other way, the nuxt project will stage and push to my git folder. I have other nuxt projects in my repo created with this that staged fine but were all also c

[2018-07-31 13:48] #74 closed

[2018-08-02 22:49] karellm commented on #23
I'm currently exploring Nuxt for a new project and was wondering if there was any update on TS support? Thanks!

[2018-08-03 15:15] AndrewBogdanovTSS commented on #23
@karellm not a lot, we still have a long way to go with TS. In case you plan to build full-featured heavy SPA - TS currently is not the way to go since you will face quite a lot of bugs in Nuxt dependencies, most of which weren't even build with TS in mind, but again, that's just my experience.

[2018-08-03 20:46] karellm commented on #23
@AndrewBogdanovTSS Thanks for sharing. I wanted to give TS a spin but I guess it will wait.

[2018-08-07 05:35] samialmorshedi opened #76 "Disabling the scale animation on page load"
I have read all the Nuxt generated app to disable the scale loading on start in this package but I did not find it!!! How can I remove the first animation that is look like scale animation?

[2018-08-07 05:35] #76 closed

[2018-08-12 07:37] potato4d commented on #43
upgraded?
https://github.com/nuxt-community/create-nuxt-app/pull/75/files#diff-2c1b5c03cf7ce7b0571fd73c12c762e8R21

[2018-08-12 21:55] paulgv commented on #76
I guess you're talking about the `loadingIndicator`?

https://nuxtjs.org/api/configuration-loading-indicator#the-loadingindicator-property

[2018-08-13 21:19] jericopulvera opened #78 "PurgeCSS"
### What problem does this feature solve?

Saves time setting up purgecss on new project.

### What does the proposed changes look like?

Should have an option to add purgecss

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/create-nuxt-app/issues/c55">#c55</a>)</em></sub></div>

[2018-08-16 15:11] woodgates opened #80 "statusCode: 404"
### Version

[v1.2.0](https://github.com/create-nuxt-app/releases/tag/v1.2.0)

### Reproduction link

[https://jsfiddle.net/](https://jsfiddle.net/)

### Steps to reproduce

Install a project with Feathers and Vuetify.

run "npm run dev" on the console.

The application starts successfully but gives an 404 error.

### What is expected ?

Not having error messages.

### What is actually happening?

[2018-08-16 15:28] woodgates commented on #80
Hi.

I found this solution in Vuetify Github:

build: {
     cssSourceMap: false, // add this into the nuxt.config

...}

[2018-08-18 17:01] himanshu64 opened #81 "bash: create-nuxt-app: command not found"
dell@Himanshu-sharma:~/Workspace/Web/vue-nuxt$ sudo npm i create-nuxt-app -g[sudo] password for dell:
/home/dell/.npm-global/bin/create-nuxt-app -> /home/dell/.npm-global/lib/node_modules/create-nuxt-app/cli.js
+ create-nuxt-app@1.2.2
added 413 packages in 28.445s
dell@Himanshu-sharma:~/Workspace/Web/vue-nuxt$ create-nuxt-app myapp
bash: create-nuxt-app: command not found

[2018-08-18 17:01] #81 closed

[2018-08-19 16:27] potato4d commented on #81
@himanshu64

Can not solve with the following command?

[code]

[2018-08-19 19:03] himanshu64 commented on #81
**solved ,thanks for your help**

[2018-08-19 19:40] potato4d commented on #81
@himanshu64
It was good to solve. Once resolved, please change the state of the ticket to resolved.

[2018-08-20 13:16] renoirb opened #82 "When using Koa alongside Nuxt, ability to use different `router.base` from root, and that Koa follows suit"
### What problem does this feature solve?

Have Koa function alongside Nuxt, when Nuxt has a different context-root than `/` (e.g. have `/foo/`, instead of `/`, as in `http://example.org/foo/`).

Nuxt supports to tell which context-root (e.g. instead of `/` ⇉ `/foo/`) to use when running with `nuxt.config.js`'s `router.base` option. (see  [nuxt.js/.../configuration-router](https://nuxtjs.org/api/c

[2018-08-20 14:28] #80 closed

[2018-08-24 05:26] renoirb commented on #82
FYI: I had something that works. I should make a repository and/or PR soon(ish) and add a link here.

[2018-08-25 05:30] Extarys opened #83 "iview support"
### What problem does this feature solve?

Add more Ui framework options is always good

### What does the proposed changes look like?

It would be nice to add iview to the possible selection of UI.

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/create-nuxt-app/issues/c59">#c59</a>)</em></sub></di

[2018-08-30 05:57] nigel-dewar opened #84 "HMR does not work"
Hi There,

Hot module reload doesnt seem to work on this repo or any of the nuxt repos, like the community starter, express etc.

I have tried editing the nuxt.config.js file to try and get HMR running but to no avail

Does HMR not work in nuxt altogether? Or is there some kind of special config one must do. Seems to be Nuxt specific, because a generic vue-cli v3 project works with HMR, so it seem

[2018-08-30 05:57] #84 closed

[2018-09-08 13:54] qidaneix commented on #23
Does the create-nuxt-app support typescript now？

[2018-09-10 19:15] manniL opened #86 "Nuxt-Edge as selection"
### What problem does this feature solve?

I'd love to see an option to create the Nuxt app with `nuxt-edge` instead of `nuxt` :speak_no_evil:

<div align="right"><sub><em>This feature request is available on <a href="https://cmty.app/nuxt">Nuxt</a> community (<a href="https://cmty.app/nuxt/create-nuxt-app/issues/c62">#c62</a>)</em></sub></div>

[2018-09-21 11:31] ksherman commented on #70
@ryanford-frontend, I was just on the Vuetify docs and they listed the jumbotron as deprecated? Might be why it’s not installing.

[2018-09-22 03:59] jefer590 opened #90 "Error: Cannot find module 'nuxt-edge'"
### Version

[v2.0.0](https://github.com/create-nuxt-app/releases/tag/v2.0.0)

### Steps to reproduce

- Update the create-nuxt-app CLI to 2.0.0
- try to create a new project
- use yarn instead of npm
- go to the created folder
- run `yarn dev`
- Throws the error Error: Cannot find module 'nuxt-edge'

### What is expected ?

Run the newly created project with NuxtJS 2.0

### What is actually happe

[2018-09-22 10:39] n1kk commented on #90
Same issue here.
Created new project with feathers/tailwind.
ran `npm i`
ran `npm run dev`
got -> `Error: Cannot find module 'nuxt-edge'`

[2018-09-22 10:47] n1kk commented on #90
edited `server/middleware/nuxt.js` line 2
from
[code]
to
[code]
and it worked

tried with another example -> express/tailwind
same issure
file `server/index.js` line 4
[code]

old templates were not updated ?

[2018-09-22 14:38] sweetim commented on #23
can use this package (https://github.com/wagerfield/nuxt-typescript) to configure the typescript, but may I know any support for typescript with `express` and `nuxt`?

[2018-09-22 15:11] jefer590 commented on #90
probably!

There's a PR that fixes that already https://github.com/nuxt-community/create-nuxt-app/issues/90

[2018-09-22 17:57] Codefa commented on #90
I think this is all happend because they called the new version 2.0 as nuxt-edge (beta i think )[https://www.npmjs.com/package/nuxt-edge](url)
and they forgot to fix it and rename it to nuxt

[2018-09-23 02:37] Codefa commented on #90
we can fix this issue by installing nuxt-edge simply

npm i nuxt-edge

Thank you

[2018-09-23 09:55] Atinux commented on #86
That is a good idea yes, but I believe that should be an option given to `create-nuxt-app` directly to avoid adding one more question that most user would rarely answer "yes".

Something like `create-nuxt-app --edge <my-project>`.

If someone wants to make this PR, that would be awesome, really :100:

[2018-09-23 09:57] #90 closed

[2018-09-24 09:27] zyxep opened #97 "default template not centeret"
### Version

[v2.0.1](https://github.com/create-nuxt-app/releases/tag/v2.0.1)

### Reproduction link

[http://localhost:3000](http://localhost:3000)

### Steps to reproduce

  ~/Projects  npx create-nuxt-app test                                                                                                                     993  09:58:27
npx: installed 401 in 8.626s

? Project name test
?

[2018-09-24 15:32] therddlr commented on #97
Now this is some serious issue right here!

[2018-09-24 17:33] zyxep commented on #97
i agree :O

[2018-09-25 16:50] romikzo opened #99 "Cannot find module 'eslint-config-prettier' after fresh installation"
### Version

[v2.1.0](https://github.com/create-nuxt-app/releases/tag/v2.1.0)

### Reproduction link

[http://localhost:3000](http://localhost:3000)

### Steps to reproduce

Just run `yarn create nuxt-app <my-project>` and select 'Install prettier' as 'Yes'. After, `yarn run dev` gives error.

### What is expected ?

Installing and running without errors.

### What is actually happening?

[code]
O

[2018-09-25 19:09] aldarund commented on #99
fixed in 2.1.1

[2018-09-25 19:09] #99 closed

[2018-09-25 19:09] #97 closed

[2018-09-25 20:49] #32 closed

[2018-09-27 14:58] TakCastel opened #101 "Prettier error"
### Version

[v2.0.0](https://github.com/create-nuxt-app/releases/tag/v2.0.0)

### Reproduction link

[https://github.com/Vocast-fr/website](https://github.com/Vocast-fr/website)

### Steps to reproduce

Type the followin command line :

`$ npx create-nuxt-app test`

Enter the following options :

[code]

Then run

`$ cd <projectname>`

`$ npm run dev`

You will get the following messages :

![Cap

[2018-09-27 15:20] aldarund commented on #101
@TakCastel it was fixed, but not released. For now you could just lint --fix

[2018-09-28 16:05] jorcons opened #103 "Please add Sails integration"
Is possible to Add Sails Backend integration? I'm not able to do it. Thanks.

[2018-09-30 21:05] leopiccionia commented on #43
I hacked the Express template to make it work with Feathers 3 and be `@featherjs/cli` compliant, for my personal use. Unfortunately, `feathers-vuex` is still stuck on Feathers 2.x and Vuex 2.x.

If anyone is interested, [here's the final result](https://github.com/leopiccionia/nuxt-feathers-boilerplate). If it's proved useful for more people, I can open a PR.

[2018-10-01 05:16] mirajnetxp opened #104 "Unable to setup project."
Getting this error every time.

Unexpected end of JSON input while parsing near '...DRuXj+pSHLyPa\nS0l5eK'

My npm vertion is     5.6.0

[2018-10-02 11:18] tarreislam opened #105 "In seconds huh"
50 secs of shady npm bogus progress bar into crash. fix

[2018-10-03 12:15] ejlocop commented on #104
same with me
[code]

this is my log file

[2018-10-03 12:17] aldarund commented on #104
When this happens? At what stage? What options did u choose? How create it via yarn or npx?

[2018-10-03 12:19] aldarund commented on #105
Please provide exact steps to reproduce your problem and a full error.

[2018-10-03 12:19] ejlocop commented on #104
same error as mine.
my npm version is: 5.6.0

project created via `npx create-nuxt-app`

[code]

this is my log file

[2018-10-03 12:21] aldarund commented on #104
@ejlocop it fails straight away after npx create-nuxt-app or it ask for options before crash?

[2018-10-03 12:21] ejlocop commented on #104
same error as mine.
my npm version is: 5.6.0

project created via `npx create-nuxt-app`
options selected:
[code]

[code]

this is my log file

[2018-10-03 12:31] aldarund commented on #104
@ejlocop cant reproduce . Something wrong with your npm/node. Try npm cache clear --force
And try to use yarn as a last step

[2018-10-03 20:34] gustojs commented on #43
I succesfully use Feathers 3 with Nuxt 2 and Feathers-Vuex using my Nuxt-feathers-vuex module. What issues in particular do you encounter?

[2018-10-03 23:48] #33 closed

[2018-10-03 23:49] aldarund commented on #19
This should be obsolete.

[2018-10-03 23:49] #19 closed

[2018-10-03 23:50] aldarund commented on #104
@ejlocop did it worked?

[2018-10-04 12:18] aldarund commented on #104
So it something wrong with node/npm installation.  Nothing to be fixed on create-nuxt-app side

[2018-10-04 12:18] #104 closed

[2018-10-04 19:53] #105 closed

[2018-10-08 09:14] LDWX opened #109 "Can build project correctly"

[2018-10-08 09:15] LDWX commented on #109
`PS C:\Users\shenxin\Documents\shenxinself\selfProject> npx create-nuxt-app nuxt-render-demo
npx: installed 401 in 19.948s

? Project name nuxt-render-demo
? Project description My dazzling Nuxt.js project
? Use a custom server framework express
? Use a custom UI framework element-ui
? Choose rendering mode Single Page App
? Use axios module yes
? Use eslint no
? Use prettier yes
? Author name xin

[2018-10-08 09:31] aldarund commented on #109
Something wrong with you npm cache/installation. Clean cache/reinstall or choose yarn as a last step.

[2018-10-08 09:31] #109 closed

[2018-10-08 09:43] LDWX commented on #109
@aldarund thank you, i will try it

[2018-10-12 23:45] manniL opened #114 "Integrate external eslint config"
### What problem does this feature solve?

With the release of https://github.com/nuxt/eslint-config we can now integrate it into create-nuxt-app as default preset.

Starting point: https://github.com/nuxt/nuxt.js/pull/4108

[2018-10-13 00:11] manniL commented on #101
Fixed with https://github.com/nuxt/create-nuxt-app/commit/5ecab1c10aa3bd4933d048b85d161431171eae23

[2018-10-13 10:11] NicoPennec commented on #86
I'm working on it for Hacktoberfest 🎃

@Atinux which dependency declaration is preferable in `package.json` file?

`"nuxt-edge": "latest"`
or
`"nuxt": "npm:nuxt-edge"`

[2018-10-13 10:41] NicoPennec commented on #86
other point, we can't run `create-nuxt-app --edge <my-project>`, because it means `edge =  <my-project>` and `targetPath = .`

I recommand `create-nuxt-app <my-project> --edge`

[2018-10-18 11:06] sibbngheid opened #122 "Edit HOST and PORT while using custom server framework"
### What problem does this feature solve?

Looks like some examples in https://nuxtjs.org/faq/host-port do not working with custom server frameworks. I changed host and port value in server/index.js. But I think we should not edit this file until nuxt is does not provide what we are looking for. At least nuxt.config.js example should work with custom server frameworks.

[2018-10-21 16:25] bookyo opened #127 "run yarn build and find error"
ERROR in ./node_modules/element-ui/lib/theme-chalk/index.css (./node_modules/css-loader??ref--3-oneOf-1-1!./node_modules/postcss-loader/src??ref--3-oneOf-1-2!./node_modules/element-ui/lib/theme-chalk/index.css)
Module build failed (from ./node_modules/postcss-loader/src/index.js):
TypeError: Cannot read property 'search' of undefined
    at /Volumes/data/www/topercms/node_modules/element-ui/lib/th

[2018-10-22 06:48] gaconkzk commented on #127
Some addition information.
- This error is happened when we using ElementUI with nuxt.
- This error happened when we run `yarn build` (it ok with `yarn dev`)

[2018-10-22 09:30] solonik1 commented on #127
Same issue

[2018-10-22 11:21] solonik1 commented on #127
Same issue

[2018-10-22 11:51] zhebanzhongzhong commented on #127
找到解决方案了没有？

[2018-10-22 12:20] aldarund commented on #127
it seems like issue with cssnano
https://github.com/cssnano/cssnano/issues/644

[2018-10-22 12:35] bookyo commented on #127
i resolve it by import the necessary css from element-ui.
like:
css: [
    'element-ui/lib/theme-chalk/base.css',
    'element-ui/lib/theme-chalk/icon.css',
    'element-ui/lib/theme-chalk/button.css',
    'element-ui/lib/theme-chalk/col.css',
    'element-ui/lib/theme-chalk/row.css',
    'element-ui/lib/theme-chalk/input.css',
    // 'element-ui/lib/theme-chalk/index.css',
    { src: '@/assets/cs

[2018-10-22 12:39] bookyo commented on #127
// nuxt.config.js
    build: {
        postcss: false,
        extend ..
    }
another way

[2018-10-22 12:56] zhebanzhongzhong commented on #127
你用nuxt什么版本？2.0吗？

[2018-10-22 13:31] aldarund commented on #127
Its bug in cssnano. Will be fixed in cssnano > v4.1.5

[2018-10-22 13:31] #127 closed

[2018-10-22 14:59] aldarund commented on #78
The thing is that it dont play well with some frameworks. For example with vuetify

[2018-10-23 10:06] manniL commented on #78
It got easier with https://github.com/Developmint/nuxt-purgecss
But it's hard to "integrate it by default" due to the reason @aldarund explained

[2018-10-23 11:37] bookyo opened #129 "i deploy the nuxtjs app, but in firefox it show network error，other broswer work well."
i deploy the nuxtjs app, but in firefox it show network error，other broswer work well.
my url : https://cms.moejj.com
you can  paste it in firefox and click link,  it will show error!

[2018-10-23 11:39] bookyo commented on #129
i find the reason, firefox  need  api urls allow cors.

[2018-10-23 11:39] #129 closed

[2018-10-23 11:50] bookyo opened #131 "i deploy the nuxtjs app, but in firefox it show network error，other broswer work well."
i deploy the nuxtjs app, but in firefox it show network error，other broswer work well.
my url : https://cms.moejj.com
you can paste it in firefox and click link, it will show error!

firefox show cors error, but i setting Access-Control-Allow-Origin right,  other  broswer work well only firefox error.

[2018-10-23 11:59] aldarund commented on #131
it has nothing to do with nuxt create app. Your server return 404
https://i.imgur.com/3dK6JOm.png

[2018-10-23 11:59] #131 closed

[2018-10-24 02:30] JuanJuanZhang123 opened #132 "In the environment of git bash，create-nuxt-app cannot choose server framework and ui framework"
In the environment of git bash，create-nuxt-app cannot choose server framework and ui framework；

to move the arrow keys the color did not changed，and press enter the wrong framework  choosed；

but in the environment of cmd it works

[2018-10-24 10:44] aldarund commented on #132
cannot reproduce. Probably something off with your git bash.
https://i.imgur.com/krd4QTo.png

[2018-10-25 05:37] jericopulvera commented on #78
How about having this additional option only if it works in the UI framework chosen?

[2018-10-26 23:10] sibbngheid commented on #132
I can reproduce when using `npx create-nuxt-app`. But `yarn create nuxt-app` is okay.

[2018-10-26 23:19] aldarund commented on #132
@sibbngheid
Cant reproduce with npx too :)
https://i.imgur.com/0i39wIX.png
What bash version?
[code]

[2018-11-03 00:28] mapsgeek opened #137 "ant design missing from installation steps"
i expect to see ant design as ui framework option but there's no one

[2018-11-03 16:53] aldarund commented on #137
Version with ant design wasnt released yet

[2018-11-03 16:53] #137 closed

[2018-11-04 23:02] teddy-mczieuwa opened #138 "nuxt page routes are not getting rendered, instead express api takes over the routing"
i am new to nuxt. I started a project using create-nuxt-app and i selected express as my server. I created a sample api using the express that create-nuxt-app generated for me. Unfortunately, anytime I run my application and visit the routes, the nuxt pages do not get involved. All i get is a json response from my express api. Please help.

[2018-11-07 14:21] solid9527 opened #139 "run dev get error and client.js not found"
did i miss something?
when i do npm run dev
then get this error
This dependency was not found:

G:\nuxt.nuxt\client.js in multi webpack-hot-middleware/client?name=client&reload=true&timeout=30000&path=/_webpackhmr ./.nuxt/client.js
To install it, you can run: npm install --save G:\nuxt.nuxt\client.js
READY Server listening on http://127.0.0.1:3000

![messageimage_1541598306252](https://user-images

[2018-11-19 17:04] dparkerfmts opened #140 "npm install failing on node 10.13.0+"
OS: macOS Mojave 10.14.1
With node v9.4.0 I can install fine: `npm i create-nuxt-app`
on node v10.13.0+ I get the following error:
[code]

For completeness here's the log info:

[code]

[2018-11-20 15:33] VladimirVaivada commented on #138
Do you use <nuxt-link to="/my/route" /> OR a standard <a href="/my/route">Link Text</a> tag?

[2018-11-20 15:49] teddy-mczieuwa commented on #138
i used <nuxt-link to="/my/route" />

[2018-11-20 15:49] teddy-mczieuwa commented on #138
I used `<nuxt-link to="/my/route" />`

[2018-11-22 08:51] #86 closed

[2018-11-22 09:54] #122 closed

[2018-11-22 12:05] blowsie opened #142 "Update to Nuxt 2.3.*"

[2018-11-22 12:30] aldarund commented on #140
It is something wrong with your npm installation
https://github.com/npm/npm/issues/20848#issuecomment-394680906

[2018-11-22 12:33] dparkerfmts commented on #140
Thanks for the link.

[2018-11-22 12:33] #140 closed

[2018-11-22 12:55] #142 closed

[2018-11-23 13:54] #60 closed

[2018-11-26 02:19] tigernassau opened #145 "forcing port 3000"

[2018-11-28 19:35] sascha245 commented on #23
I am currently working on adding features choice like in vue cli 3 (typescript, pwa, tests etc...). Though it will probably take some time to do them all, typescript will probably be done in a few days.

Please tell me if someone else is already working on it.

[2018-11-29 14:06] manniL opened #147 "Remove unneeded deps"
### What problem does this feature solve?

`cross-env` (deps)  and `nodemon` (devDeps) are not needed for every project. We should properly guard them as well.

[2018-12-01 23:34] HZooly opened #148 "Add check for project name"
## Version
v2.1.1

## Reproduction link
https://github.com/nuxt/create-nuxt-app

## Steps to reproduce
Create a Nuxt project with `create-nuxt-app <name>`

Then, CLI asks for a project name, description etc… If project name is invalid, CLI doesn't handle it, but project can't be run with npm run dev.

`$ npm run dev
npm ERR! Invalid name: "Hugo Torzuoli"`

## What is expected ?
CLI should fire an

[2018-12-02 15:33] uliana25 opened #149 "nuxt with express controller model"
Hi! I have installed nuxt and selected universal and express.

But where can i create folder controller, model? Or how can i describe model for the entity and where i have write post, get ... methods for each of them?

before i have experience with RoR that's why sorry if something confused.

[2018-12-04 15:34] aldarund commented on #145
@tigernassau what version of nuxt? there was a bug about it in some early version of 2.x like 2.0 or 2.1

[2018-12-15 07:00] MrJmpl3 commented on #36
Why you need nodemon in everything?

Nuxt has Hot Reloading without Nodemon.

Nodemon is only used in server things in dev mode

[2018-12-15 10:19] manniL commented on #36
That's right. See #147

[2018-12-15 10:19] #36 closed

[2018-12-15 10:33] MrJmpl3 commented on #147
Nodemon and cross-env is needed when i used express or another server js (expressjs , adonis , etc)

[2018-12-15 15:02] loongmxbt opened #151 "Missing iview from installation steps"
Checked create-nuxt-app version to be 2.1.1, but not having iview or ant-design choice.
[code]

[2018-12-16 11:06] manniL commented on #151
Will be available with the next release :relaxed:

[2018-12-16 11:06] #151 closed

[2018-12-16 11:07] manniL commented on #147
@MrJmpl3 That's what I was saying :relaxed:

If you use a Nuxt.js inside a server like express, koa, ... then you need it ofc.

[2018-12-19 14:45] #114 closed

[2018-12-19 14:46] #148 closed

[2018-12-20 10:39] JasonGaoG commented on #151
@manniL when wiil the next release  published? relaxed

[2018-12-20 10:41] manniL commented on #151
Soon™️ 😋

[2018-12-23 05:35] BeatsX opened #154 "Cannot resolve import"

[2018-12-27 23:29] MichaelJCole opened #157 "Feathers 2 is depricated, but create-nuxt-app installs it."
Hi, I went to try out nuxt w/ Feathers and noticed create-nuxt-app is using a [year old version](https://blog.feathersjs.com/flying-into-2018-13bda623f089) that has been depricated in the npm output:

[code]

[2018-12-29 12:10] JohnatanNorman commented on #23
@sascha245 thanks for the work! I was wondering how to implement typescript with nuxt+express server (not a middleware), but only on server side. I am talking about something like this (https://github.com/pronist/nuxt-express-typescript-template), but since I am very bad with build tools like webpack and backpack, I am struggling to figure it out. (the example below looks outdated and I am hesitan

[2019-01-03 11:44] #30 closed

[2019-01-05 21:40] skozzii commented on #101
This issue has resurfaced.

[2019-01-05 21:49] manniL commented on #101
@skozzii could you try to send in a fix?

[2019-01-18 09:36] matamune94 commented on #145
me too  using nuxt latest update, how can change port

[2019-01-18 09:38] manniL commented on #145
There are several ways: https://nuxtjs.org/faq/host-port/

[2019-01-18 09:38] #145 closed

[2019-01-18 10:02] manniL commented on #145
@matamune94 If you use express or another framework *before* nuxt, you have to set up the port on your own

[2019-01-22 20:45] findingorder opened #164 "Typo in README.md"
There is a typo in README.md.  For yarn it says:
[code]
It should instead say:
[code]
In needs a dash, not a space, between "create" and "nuxt".

[2019-01-22 21:41] manniL commented on #164
no, this is correct.

[2019-01-22 21:41] #164 closed

[2019-01-24 22:15] francoism90 commented on #23
Status update?

[2019-01-24 22:20] manniL commented on #23
@francoism90 General TS support is coming really soon.
After that we can talk about a CNA integration

[2019-01-25 14:35] sweetim commented on #23
I wrote this sample that uses typescript for `express` and `nuxt`
https://gitlab.com/hosweetim/timx-site

[2019-01-26 06:28] BeatsX opened #165 "为何直接初始化项目 跑不起来 npx create-nuxt-app 命令也不行"
<img width="1679" alt="wx20190126-142628 2x" src="https://user-images.githubusercontent.com/26688426/51783544-712ad200-2176-11e9-8adc-e30a44bd6eca.png">
<img width="1678" alt="wx20190126-142611 2x" src="https://user-images.githubusercontent.com/26688426/51783545-77b94980-2176-11e9-8f89-e94bf2fbd0f2.png">

[2019-01-26 14:34] ly102412 commented on #165
您好这个问题解决了吗

[2019-01-26 15:09] BeatsX commented on #165
还没有啊 老哥 以前试过可以  准备熟悉一下 年后做PC端用呢  结果就这样了

[2019-01-26 15:13] ly102412 opened #166 "npx create-nuxt-app Unexpected token export"
Use the ‘ npx create-nuxt-app ’ command to install ‘nuxt’. The runtime prompts ‘Unexpected token export’. Just put the referenced ‘element-ui’ comment to run.
How can I solve it?
![5c4c4fde00011e2412881248](https://user-images.githubusercontent.com/30214380/51789045-db1b9980-21bf-11e9-80ca-2d6d4fabe8fe.jpg)

[2019-01-26 15:14] m4tty-d commented on #166
I have the same problem. :(

[2019-01-27 09:14] pokerII commented on #166
I have the same problem. :(

[2019-01-27 09:15] BachCN commented on #166
I have the same problem. :(

[2019-01-27 09:15] MicroUncle commented on #166
+1 :(

[2019-01-27 13:46] luxuryLu commented on #165
应该是element-ui升级了，我修改了package.json，把element-ui版本改成2.4.6，重新安装了npm包就可以跑了

[2019-01-27 13:52] luxuryLu commented on #166
I met the same situation, and i opened the 'package.json', modified the version of 'element-ui' to '2.4.6'  ，removed the node_moudules, re-installed the npm packages and it worked~

[2019-01-27 23:34] #166 closed

[2019-01-27 23:35] kevinmarrec commented on #166
`element-ui` needs to be transpiled by Nuxt since last versions of the UI library.
Fixed in #167

[2019-01-27 23:44] kevinmarrec commented on #165
Fixed with #167 + #168

[2019-01-27 23:44] #165 closed

[2019-01-29 12:03] ELFoglalt opened #170 "[Windows] Arrow keyes jump two options in command line menu navigation"
## Version
v2.1.1

## Bug in action
![2019-01-29_12-32-07](https://user-images.githubusercontent.com/14253369/51907034-02dc4e80-23c6-11e9-8419-eef2f47eb250.gif)

## Reproduction
Using Git Bash with MinTTY on Windows:

- Create new project using `winpty npx.cmd create-nuxt-app`
- Observe as the up and down arrow keys jump 2 options instead of one in the selection menus

Happened with a fresh instal

[2019-01-29 12:09] rchl opened #171 "[vuetify ui] Default link color doesn't contrast with background"
### Version

[v2.1.1](https://github.com/create-nuxt-app/releases/tag/v2.1.1)

### Reproduction link

[https://codesandbox.io/s/319w02xwrp](https://codesandbox.io/s/319w02xwrp)

### Steps to reproduce

1. `npx create-nuxt-app sample-project`
2. Select vuetify as UI framework
3. Run `npm run dev` and open http://localhost:3000 in the browser

### What is expected ?

That the default colors play wel

[2019-01-29 15:10] thetre97 commented on #170
I also get this with Powershell on Windows 10, but it is fine with Bash/Zsh on Linux.

[2019-01-31 13:24] shredmaster opened #174 "getting "use is not defined" after upgrade from 2.3.4 to 2.4.2"
anyone using the adonisjs template having same issue?

[2019-02-01 10:12] manniL opened #176 "Preprocessor selection on install"

[2019-02-02 19:27] dawnfantasy opened #177 "new project fails while yarn build/generate"
How to reproduce:
npx create-nuxt-app  demo1
   framework: express
   render: universal
   rest: default

cd demo1
npm run build

ERROR in 92a8cf26fc2c7e65b970.js from Terser
TypeError: Cannot read property 'minify' of undefined
    at minify (/home/ubuntu/dev/demo1/node_modules/terser-webpack-plugin/dist/minify.js:175:23)
    at TaskRunner.boundWorkers (/home/ubuntu/dev/demo1/node_modules/terser-

[2019-02-03 12:04] manniL commented on #177
see https://github.com/nuxt/nuxt.js/issues/4931

[2019-02-03 12:04] #177 closed

[2019-02-04 10:50] manniL opened #178 "[Windows] Hangs after downloading packages"

[2019-02-04 15:29] rick-stevens opened #179 "(minor) README always shows yarn build commands"
Hi! My compiled `README.md` always contains `yarn` build commands, even though I choose `npm` as my package manager during installation (Node v10.15.0, `npx create-nuxt-app`).

[2019-02-05 00:51] JasonKroll opened #180 "TypeError when using the Ava test framework"
I get the following error when running tests in a brand new project using the Ava test framework:

[code]

**Steps**
[code]

It seems to be related to the importing of the Logo component into the `test/spec/Logo.spec.js` file.

If I replace the generated code in that file with something like the following it runs fine:

[code]

Has anyone else experienced this?

[2019-02-06 12:13] moso opened #181 "Unexpected comma in middle of array - no-sparse-arrays"
Hey, I stumbled upon this while creating a new Nuxt 2.4.2 app.

### Steps to reproduce
`yarn create nuxt-app`

Go through the install, under **features** select all, deselect one (mine was `a` for all, deselect `Axios`), continue.

My entire process:

- Project name: project-name
- Project description: Project description
- Use a custom server framework: none
- Choose features to install: PWA, Lin

[2019-02-06 12:20] Codefa commented on #171
@rchl  just go to plugins/vuetify.js and give primary color to blue or whatever you want `primary: colors.blue,`

[2019-02-06 13:41] manniL commented on #171
@rchl feel free to send in a PR ☺️

[2019-02-09 12:34] robsontenorio commented on #23
Will typescript support land on nuxt-create-app?

[2019-02-11 13:38] clarkdo commented on #43
featherjs 3 template has been released in create-nuxt-app 2.4.0

[2019-02-11 13:38] #43 closed

[2019-02-11 13:39] clarkdo commented on #157
featherjs 3 template has been released in create-nuxt-app 2.4.0

[2019-02-11 13:39] #157 closed

[2019-02-11 14:14] Ingramz commented on #178
Looks like 2.4.0 has fixed this for me.

[2019-02-11 21:52] francoisp opened #184 "ubuntu 16.04 npx create-nuxt-app"
npm -v 6.4.1
 node -v v10.15.1

npx create-nuxt-app

npx: installed 379 in 15.435s

Error: Failed to install packages in /home/nuxt
at ChildProcess.ps.on.code (/home/nuxt/.npm/_npx/1063227/lib/node_modules/create-nuxt-app/node_modules/sao/lib/installPackages.js:108:15)
at ChildProcess.emit (events.js:189:13)
at maybeClose (internal/child_process.js:970:16)
at Socket.stream.socket.on (internal/chil

[2019-02-11 21:53] francoisp commented on #184
npx create-nuxt-app
npx: installed 379 in 15.435s

? Project name nuxt
? Project description My terrific Nuxt.js project
? Use a custom server framework none
? Choose features to install (Press <space> to select, <a> to toggle all, <i> to invert selection)
? Use a custom UI framework none
? Use a custom test framework none
? Choose rendering mode Universal
? Author name
? Choose a package manager

[2019-02-12 04:20] Codefa commented on #171
Fixed in latest release 😀

[2019-02-12 10:23] #171 closed

[2019-02-12 16:03] francoisp commented on #184
was caused not enough allocated ram to the container, npx create-nuxt-app might use up to 2.5GB

[2019-02-12 16:03] #184 closed

[2019-02-12 16:56] manniL commented on #178
@Ingramz Amazing! 🙌

[2019-02-12 16:56] #178 closed

[2019-02-12 20:28] goatandsheep opened #185 "Tapable.plugin is deprecated"
Fresh install gave me this build error:

(node:17605) DeprecationWarning: Tapable.plugin is deprecated. Use new API on `.hooks` instead

Setup:

* axios
* element-ui
* universal
* eslint

[2019-02-12 21:44] manniL commented on #185
That's no error. It's a **warning**. Probably from https://github.com/nuxt-community/pwa-module/issues/120 or another module. Not problematic at all

[2019-02-12 21:44] #185 closed

[2019-02-12 22:05] goatandsheep commented on #185
It shows up as an error for me
![Error](https://i.imgur.com/IOOFvOz.png)

[2019-02-13 05:40] qtisan commented on #180
me else.

[2019-02-13 05:46] qtisan commented on #180
[](https://github.com/prettier/prettier/issues/5018)

[2019-02-13 05:56] qtisan commented on #180
i added the follow line at the end of `test/helpers/setup.js`, and it works fine.
[code]

[2019-02-13 20:23] okaybroda commented on #181
This happened to me too. Is it safe to continue?

[2019-02-15 15:34] Al-un commented on #23
First of all, Kudos to Nuxt team for [Nuxt 2.4.0 and TypeScript integration](https://dev.to/nuxt/nuxtjs-v240-is-out-typescript-smart-prefetching-and-more-18d)! Being new to Nuxt, I tried a [Nuxt+TypeScript project](https://github.com/al-un/nuxt-ts) thanks for [Hackernews-nuxt-ts](https://github.com/nuxt-community/hackernews-nuxt-ts) and [this helloworld](https://codesandbox.io/s/github/nuxt/nuxt.j

[2019-02-16 13:42] manniL commented on #181
For now, feel free to delete the comma and go ahead :relaxed:

Thanks for the report

[2019-02-18 16:11] clarkdo commented on #181
Fixed by #172

[2019-02-18 16:11] #181 closed

[2019-02-18 16:12] clarkdo commented on #170
@ELFoglalt Could try it now with latest create-nuxt-app ?

[2019-02-18 16:14] clarkdo commented on #179
@rick-stevens Could you try latest create-nuxt-app ?

[2019-02-18 16:16] #83 closed

[2019-02-18 16:18] clarkdo commented on #49
Support for adonis 4 has been released.

[2019-02-18 16:18] #49 closed

[2019-02-18 16:20] thetre97 commented on #170
I still get this on PowerShell with v2.4.0...

[2019-02-18 16:23] #42 closed

[2019-02-18 16:26] thetre97 commented on #174
Could I ask how you set up your project?
I have tried reproducing it with `create-nuxxt-app@2.4.3` and selecting Adonis, with the (Nuxt) Axios option - and it works as expected. Where is that line located?

[2019-02-18 16:28] thetre97 commented on #4
has this got any further? :)

[2019-02-18 16:30] clarkdo commented on #170
@thetre97 I tried in my local with PowerShell/Git Bash under Win10, it works fine, could you confirm if you're using create-nuxt-app with latest saojs ?

[2019-02-18 16:53] thetre97 commented on #170
v2.4.0 shows that i have `"sao": "^1.6.1"` installed...

I've tried using Powershell, Powershell 6, and on Git Bash the arrow keys don't seem to work at all...

PS: https://www.useloom.com/share/aa6b1b2448144cf08abab7ed4488e9f9
Git Bash: https://www.useloom.com/share/d9c473d94b554c99b79b6a7b6176e8df

Windows 10 Insider: 1903
Node 11.8.0

[2019-02-18 18:59] ELFoglalt commented on #170
Still happening with `"create-nuxt-app": "^2.4.0"` and `"sao": "^1.6.1"`, with same os/setup as in op.

[2019-02-19 02:04] Extarys commented on #83
Hey thanks for including this! AWESOME!

[2019-02-19 06:43] rick-stevens commented on #179
@clarkdo It seems to have solved the issue, thanks! 👍

[2019-02-19 09:09] #179 closed

[2019-02-19 09:21] clarkdo commented on #170
@thetre97 @ELFoglalt This issue seemed related to https://github.com/SBoudrias/Inquirer.js/issues/778, could you try the node version mentioned in that issue ?

[2019-02-19 11:36] thetre97 commented on #170
Just install node v11.10.0, and it works perfectly 👍

[2019-02-19 11:54] manniL commented on #170
I pinned the issue and will close it as a workaround is present ☺️

[2019-02-19 11:54] #170 closed

[2019-02-19 21:17] ZainW opened #188 "Cannot create nuxt-app using yarn 1.13.0"
Hi there, with the current create-nuxt app (2.4.2) is does not seem possible that I can create a project from scratch using yarn. I tried the below code and `yarn create nuxt-app nuxttest` same errors as shown below

If I can provide any other relevant information let me know. there was no template for issues. Can definitely be a yarn bug but i ran `yarn create react-app` with 0 issues

[code]

no

[2019-02-19 21:42] manniL commented on #188
Can second that.

[2019-02-19 21:42] zebamba commented on #188
I am having the same issue.

[2019-02-19 21:46] joemirizio commented on #188
It looks like `/usr/local/bin/create-nuxt-app` has DOS line endings. A `dos2unix` keeps getting overridden by `yarn create nuxt-app`

[2019-02-19 22:50] clarkdo commented on #188
Could you try 2.4.3 ?

[2019-02-19 22:51] manniL commented on #188
Fixed, thanks :relaxed:

[2019-02-21 16:51] ZainW opened #189 "Creating a new project with UI library does not work (antd as an example)"
trying to create a POC nuxt app using https://github.com/AmpleOrganics/Blaze.vue, could not get my component library to install so i created a default create-nuxt-app using the antd and it does not register the components either as part of the default scaffolding

create-nuxt-app version: 2.4.3
yarn: 1.13.0
node: 10.15.0 (minor is the lts)
OS: osx

Steps to reproduce:

1. `yarn create nuxt-app tes

[2019-02-21 16:54] ZainW commented on #189
made a mistake apologies

its a-button, although i still dont know why my component library is not working but that's probably my fault.

Apologies

[2019-02-21 16:54] #189 closed

[2019-02-22 06:16] trylovetom commented on #185
Same Here
Any Update?

[2019-02-24 09:57] keng0o commented on #185
same

[2019-02-24 10:02] manniL commented on #185
Folks, once again.

1. This is no problematic error but just a `DeprecationWarning`. You can notice that by actually reading the error message.
2. `DeprecationWarning` means that something will not work in the future but still works.
3. This is caused by the [`@nuxtjs/pwa` modules](https://github.com/nuxt-community/pwa-module/issues/120) and will be fixed the next major version. We can't just rele

[2019-02-24 18:22] manniL opened #190 "Switch to ESM syntax for generated config"

[2019-02-24 18:23] manniL opened #191 "Switch to serverMiddleware approach for server frameworks"

[2019-02-25 13:59] Ethanjfobrien commented on #139
also getting this error

[2019-02-25 14:07] manniL commented on #139
Can't repro on linux

[2019-02-25 14:38] Ethanjfobrien commented on #139
I'm getting it on Ubuntu

[2019-02-25 14:46] manniL commented on #139
@Ethanjfobrien Can you describe steps to reproduce and provide the exact error msg?

[2019-02-25 18:27] aldarund commented on #139
The initial error about importing styl files,  that means stylus loader wasnt installed. In CNA we have stylus import only for vuetify, and for that we have install stylus loader. If someone manually add styl to different setup that vuetify, they need to install stylus themself.
@Ethanjfobrien did you customized your app and added import of stylus file? Or if u have different error than its differ

[2019-02-26 09:54] RehanSaeed opened #194 "Add ASP.NET Core Web Server Support"
### What problem does this feature solve?

ASP.NET Core has support for running Node using [JavaScriptServices](https://docs.microsoft.com/en-us/aspnet/core/client-side/spa-services?view=aspnetcore-2.2). It's also one of the [faster web servers](https://www.techempower.com/benchmarks/#section=data-r17&hw=ph&test=plaintext) according to the techempower benchmarks being several times quicker than No

[2019-02-27 11:17] envision commented on #23
Should use ESLint instead of TSLint: https://cmty.app/nuxt/nuxt.js/issues/c8742

[2019-02-27 11:27] riddla commented on #23
@envision, I second that. We just switched from TSLint to ESLint within our nuxt project. The current ESLint config can be found over at https://gist.github.com/riddla/6e892375ff373cdc457bbf93da39ef58.

[2019-03-04 10:09] davecat opened #197 "[nodemon] app crashed - waiting for file changes before starting..."
why is happened when i use $yarn run dev?

[2019-03-04 11:56] davecat commented on #197
i fixed this issue,is my localhost hosts ERR

[2019-03-04 11:57] #197 closed

[2019-03-06 04:41] amitgur opened #201 "nuxt build doesn't minify css"
Hello

I'm a beginner in nuxt. I'm using vuetify+express out of the box setup. running nuxt build and nuxt start, my output css is not minified.

Any hint with that?
my production site https://shiru.me

Thanks

[2019-03-06 15:17] clarkdo commented on #201
@amitgur Could you please provide more details about which part of css is not minified, because I can see minified in the link you provided.
![image](https://user-images.githubusercontent.com/4312154/53891758-f2ea0700-4022-11e9-8f4c-2fe0cc67203f.png)

[2019-03-06 16:00] amitgur commented on #201
This is the source for production as seen from the client side
![image](https://user-images.githubusercontent.com/4021701/53894888-93e3bc80-4039-11e9-8e79-cd7c107905a3.png)
and it goes like this till line 643. I'm not using postcss.
Thank you @clarkdo

[2019-03-06 16:16] clarkdo commented on #201
This style is from vuetify, you can refer its [doc](https://vuetifyjs.com/en/framework/theme#minification) for minification

[2019-03-06 16:16] #201 closed

[2019-03-06 17:05] amitgur commented on #201
Thank you @clarkdo

[2019-03-06 18:07] jay8t6 commented on #188
I am on 2.5.0, still running into the same issue

[2019-03-06 18:09] clarkdo commented on #188
Will have a look now

[2019-03-06 18:11] ZainW commented on #188
can confirm same issue as previously stated in OP on current version (2.5.0)

[2019-03-06 18:17] clarkdo commented on #188
I’ll publish a patch release in 1 hour

[2019-03-06 19:10] clarkdo commented on #188
@jay8t6 @ZainW Could you please verify 2.5.1 and close the issue if it's fixed

[2019-03-06 19:40] ZainW commented on #188
works for me!
thanks again

out of curiosity why did the bug pop back in? something git flow related?

[2019-03-06 20:20] clarkdo commented on #188
A CRLF issue when publishing under windows , sorry for the inconvenience

[2019-03-06 20:20] #188 closed

[2019-03-07 02:06] jay8t6 commented on #188
Thanks! Much appreciated!

Sent from Yahoo Mail for iPhone

On Wednesday, March 6, 2019, 2:20 PM, Xin Du (Clark) <notifications@github.com> wrote:

A CRLF issue when publishing under windows , sorry for the inconvenience

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-03-13 10:21] #190 closed

[2019-03-22 00:03] robsontenorio commented on #23
Nuxt 2.5 is out with typescript improvements! Is it time to get typescript support ?

[2019-03-22 11:43] nzee commented on #101
Fix for this anytime soon?
cc : @aldarund

[2019-03-23 09:29] nzee commented on #101
Can you brief us on what's the cause for this error so that we can look into pushing a fix?

[2019-03-23 10:14] manniL commented on #101
@nzee My guess is that there are some eslint-rules that intefere with prettier. you'd have to explicitly disable them when choosing *both* options.

[2019-03-23 11:45] aldarund commented on #101
@manniL that should be handled by prettier eslint config, that disable conflicting rules
@nzee do u have a reproduction?

[2019-03-23 12:07] nzee commented on #101
Steps to Reproduce:
`npx create-nuxt-app nuxty`

[code]

Make any change on index.vue such as indenting wrongly

`npm run dev`

You get the following error
![eslint-error](https://user-images.githubusercontent.com/421439/54865828-aa0baf80-4d91-11e9-8c14-0004970e0907.png)

**.eslintrc.js**
[code]

**.editorconfig**
[code]

**.prettierrc**
[code]

**package.json**
[code]

[2019-03-23 12:10] aldarund commented on #101
So its totally expected if u format code wrong it will error. So you need to fix your code formatting according to how prettier wants.
It can be done either manually or via eslint --fix or you can configure automatic formatting in your IDE

[2019-03-24 14:43] samturrell opened #208 "Adonis commands always running nuxt build"
Due to the service provider running the Nuxt builder on boot it's running even when other adonis commands are run.

In laravel you'd get around this by checking if it's being run in the console, but as everything in node is via the console that approach won't work.

Maybe we could check if the `index.js` is being referenced in the `argv`?

Happy to submit a PR if you can think of a better solution

[2019-03-25 18:20] #101 closed

[2019-03-26 07:32] DerekCrosson commented on #180
Thanks, dude! This was driving me crazy :)

[2019-03-26 15:36] OndrejCibulka opened #209 "Old version with create-nuxt-app command"
Hello everybody,

I am downloading new nuxt project, but i noticed, that in packages.json is nuxt in version 1.0.0
`"dependencies": {
    "nuxt": "^1.0.0"
  },`

Is this supposed to be like this, when latest nuxt version is 2.5.1?

Thank you.

[2019-03-26 15:44] manniL commented on #209
Your create-nuxt-app version might be outdated.

[2019-03-26 16:41] OndrejCibulka commented on #209
That was it, thank you!

[2019-03-26 16:41] #209 closed

[2019-03-27 03:02] yb81312043 opened #210 "npx create-nuxt-app 创建的项目不能在局域网下其他设备不能访问"
在nuxt.config.js添加
  server: {
    port: 8000, // default: 3000
    host: '0.0.0.0', // default: localhost,
  }
或者在package.json中添加
"config": {
  "nuxt": {
    "host": "0.0.0.0",
    "port": "3333"
  }
}
都能是本地访问时ip访问，但是在同一局域网下的设备不能访问（验证了其他项目能访问），尝试更换了默认服务器，使用express和koa也都不行，求教

[2019-03-27 09:10] #210 closed

[2019-03-27 09:11] yb81312043 commented on #210
居然是由于本地防火墙导致的问题，尴尬

[2019-03-28 17:50] MartCube commented on #209
how do you update create-nuxt-app ?
I get 2.4 version when i make new project

[2019-03-29 11:28] manniL commented on #209
Once again. `^2.4.0` matches anything between 2.4.0 and < 3.0.0 (so all minor or patch versions based on 2.x)

[2019-03-29 16:54] iamgmd commented on #4
second that, where is documentation that explains the server code (especially for feathers) and what is needed to use it in a nuxtjs app.

[2019-04-01 17:18] ghostogre opened #213 "babel如何配置使用import呢？"
脚手架自带安装了`@babel/preset-env`，但是babel不会转换import，我看这个Babel包都是7.4.0以上了。要如何配置babel呢？

[2019-04-01 18:57] clarkdo commented on #213
`import` 是由webpack进行处理的, 请问您的具体问题是?
https://webpack.js.org/concepts/modules/

[2019-04-03 03:26] lk8888 opened #214 "nuxt初始化时提示：No matching version found for node-releases@^1.1.13"

[2019-04-04 08:29] clarkdo commented on #214
@lk8888 你好， 能否提供一下详细的重现步骤和版本号？

[2019-04-07 13:46] jackiboy commented on #209
@MartCube if you go like this it will install Nuxtjs 2.x instead of 1.x
`npx create-nuxt-app@^2.4.0 your-app-name`

[2019-04-07 18:07] vinayakkulkarni commented on #180
Spent almost 2 hours before I arrived here.

[2019-04-08 01:36] lk8888 commented on #214
你好，我之前用npm安装插件就会报这个错，也试过更新node和npm版本，没有解决，后来我改用yarn安装没有问题，今天我再去重新用npm安装，发现已经没有这个问题了

[2019-04-08 01:39] lk8888 commented on #214
你好，我之前选择用npm包会有这个问题，试着更新node和npm版本，没有解决，就选择用yarn是没有问题的，今天再去选择用npm，发现已经没有这个问题了

[2019-04-08 01:41] lk8888 commented on #214
@clarkdo 你好，我之前选择用npm包会有这个问题，试着更新node和npm版本，没有解决，就选择用yarn是没有问题的，今天再去选择用npm，发现已经没有这个问题了

[2019-04-08 01:41] #214 closed

[2019-04-08 14:56] AlamTheInnov opened #215 "Cannot read property 'extend' of undefined"
Installing fresh nuxt app, i am getting this after running localhost:3000 only if i choose custom UI frameworks is bootstrap!

Cannot read property 'extend' of undefined
node_modules\bootstrap-vue\es\components\button\button-close.jsopen in editor
    }
  } // @vue/component

};

var _default2 = _vue.default.extend({
  name: NAME,
  functional: true,
  props: props,
  render: function render(h, _r

[2019-04-08 20:15] allon-z commented on #215
I was also getting this issue when adding the bootstrap on the new app. For some reason when my new project was created using **yarn create nuxt-app**, the bootstrap was not working. I tried creating it with **npx create-nuxt-app** and it worked fine. Not sure if that is helpful, but that was my experience!

[2019-04-09 07:30] AlamTheInnov commented on #215
@allon-z thanks for your comment, Actually in my case its not working using npx create-nuxt-app app-name

[2019-04-09 08:14] clarkdo commented on #215
@AlamTheInnov Thanks for the reporting.

This bug has been fixed in bootstrap-vue, more details: https://github.com/bootstrap-vue/bootstrap-vue/issues/3038

[2019-04-09 08:14] #215 closed

[2019-04-09 12:45] mansouryaacoubi opened #217 "Element UI breaks fresh install"
Hello,

while trying to create a fresh nuxt app, Element UI makes some problems.

### Versions
npm/npx: **6.7.0**
node: **11.12.0**

### Selected options:
custom server framework: **none**
features to install: **all**
custom ui framework: **element-ui**
custom test framework: **none**
rendering mode: **SPA**

![image](https://user-images.githubusercontent.com/6348858/55801106-9c666180-5ad5-11e9-88

[2019-04-09 12:48] mansouryaacoubi commented on #217
I found a solution for when the installation got stuck... I don't know why this is but it seems creating the project using the verbose flag creates the app instantly.
`npx create-nuxt-app kitchen-dashboard --verbose`

but the problem with the errors do still exist.

[2019-04-09 12:51] mansouryaacoubi commented on #217
The problem seems to be line 27 in nuxt.config.js:

`css: ['element-ui/lib/theme-chalk/index.css'],`

![image](https://user-images.githubusercontent.com/6348858/55801704-f0be1100-5ad6-11e9-8981-d3f62e11c111.png)

[2019-04-09 14:04] mansouryaacoubi commented on #217
@manniL I don't mind :D

[2019-04-09 17:50] durduliu2009 opened #219 "Vuetify breaks fresh install"
Hello guys,
After following this procedure from https://nuxtjs.org/guide/installation#using-nuxt-js-starter-template it seems that vuetify initialization has some problems.
Can anyone help ?

vue --version = 3.5.5

[code]

Those warn messages appear when I run `yarn dev`

[2019-04-10 14:25] Tweakings commented on #209
How exactly does one go about "updating create-nuxt-app". I was under the assumption it gets the latest package before executing? I'm struggling to find anything related to updating an npx package? I'm stuck creating apps with nuxt v1.

[2019-04-11 06:22] durduliu2009 commented on #219
Hmm it seems that vuetify fixed it in https://github.com/vuetifyjs/vuetify/issues/6952. I will come back after I will test it

[2019-04-11 06:28] durduliu2009 commented on #219
I've tested it and it is working.

[2019-04-11 06:28] #219 closed

[2019-04-11 08:04] mansouryaacoubi commented on #217
Unfortunately I found out that this has to be another problem. Everything works just fine working on the same drive as the node installation. For example:

Node installation on drive C:\
Project deployment on drive C:\
=> everything works just fine

Node installation on drive C:\
Project deployment on drive D:\
=> webpack seems to have a problem with the path resolution

![image](https://user-imag

[2019-04-11 08:29] mansouryaacoubi commented on #217
So finally I found out, what the real problem is. Neither `create-nuxt-app` nor `webpack` are faulty.
The problem was using the Windows 10 `mklink` functionality.

I was accessing my development path through `C:\Users\Mansour\dev` which was a windows link to `D:\development`.
When I changed my directory in the `cmd` to `D:\development`, it works without any problems.
But building my project by acc

[2019-04-11 08:29] #217 closed

[2019-04-22 10:21] madrus opened #220 "nuxt page routes are not getting rendered (404 error)"
I have seen a somewhat similar issue #138 but I am not using Express but have chose for a Universal flavour. I have posted my project on Github: [finadmin4u](https://github.com/madrus/finadmin4u.git). This is a simple website with just four links: "/", "/about", "/projects", and "/contact".
Here are my findings:
1. `yarn build ` followed by `yarn start` works fine and I can navigate between all li

[2019-04-22 10:22] madrus commented on #138
See also a somewhat similar issue #220.

[2019-04-22 10:42] manniL commented on #220
Can't repro:

https://codesandbox.io/s/github/madrus/finadmin4u

[2019-04-22 10:42] #220 closed

[2019-04-22 11:48] madrus commented on #220
@manniL Not sure what you have checked. I see it works in the CodeSandbox. However, my issue is that the **development mode** does not work locally if running `yarn dev`. Have you actually tried to clone the repo and then run `yarn && yarn dev`?

[2019-04-22 12:05] manniL commented on #220
@madrus the codesandbox is actually doing `yarn dev`.

[2019-04-22 12:06] manniL commented on #220
Also:

![image](https://user-images.githubusercontent.com/640208/56499713-da1cae80-6507-11e9-92bb-a61c09198e2b.png)

[2019-04-22 12:18] madrus commented on #220
OMG, thanks for letting me know. That basically means there is something wrong with my machine. Glad it was not a bug in Nuxt. :P)

[2019-04-22 17:14] madrus commented on #220
I have new information. `yarn dev` works fine in Firefox and in Safari. The described issue happens only in Chrome:
<img width="307" alt="error" src="https://user-images.githubusercontent.com/7058116/56513230-149b4100-6532-11e9-8913-cea47721f591.png">
Not sure if it is a Nuxt issue as Chrome can be full of surprises.

[2019-04-22 22:23] manniL commented on #220
Strange 🤔
Latest chrome version?

[2019-04-23 08:43] dongxinmario opened #221 "polyfill-eventsource added missing EventSource to window"
Open with IE，get error

![1556008904(1)](https://user-images.githubusercontent.com/10446316/56567113-ce53e980-65e6-11e9-8a4f-2015b2acfc51.jpg)

[2019-04-25 12:15] upeartaker opened #222 "use elementUI to init nuxt-app catch error : ELEMENTHTML is not define"

[2019-04-25 12:16] upeartaker commented on #222
修改错别字

[2019-04-25 12:17] Yangshisan commented on #222
Me,too

[2019-04-25 12:23] LeanderY commented on #222
Me,too

[2019-04-25 13:38] LeanderY commented on #222
删除 element-ui.common.js 中的 scrollContainer: [String, HTMlement] 这行代码就行了

[2019-04-25 13:43] upeartaker commented on #222
Thanks,i will try again

[2019-04-25 14:03] ClassName commented on #222
这个不是在npm包里的东西吗，删除后重新npm还会出现鸭

[2019-04-25 14:03] ClassName commented on #222
我也碰到这个问题了

[2019-04-25 14:31] upeartaker commented on #222
我今天上午还没有这个问题，后天配了一些其他的module把项目搞崩了，再安装就一直报错了

[2019-04-25 17:40] aldarund commented on #222
Its a problem in element ui -> https://github.com/ElemeFE/element/issues/15261

[2019-04-25 17:40] #222 closed

[2019-04-26 04:31] Yangshisan commented on #222
I use element-ui@2.4.1

[2019-04-26 13:46] madrus commented on #220
Yes, sure. Google Chrome keeps itself automagically updated.

[2019-04-27 09:43] aldarund commented on #222
@Yangshisan if you have in your package.json ^2.4.11 than a latest one will be installed .  See https://semver.org/

[2019-04-28 04:49] madrus commented on #220
Got it! It is definitely Google Chrome. If running in the normal mode. Once I tried to open the same URL in Chrome Incognito Mode, everything started working as expected.

[2019-04-28 07:26] grace618 opened #223 "HTMLElement is not defined 创建项目之后无法运行？"
初始化选择 KOA /Element UI/axios/eslint/prettier
![2019-04-28_152141](https://user-images.githubusercontent.com/19409528/56860505-e56d4f80-69c9-11e9-909e-862d7fcf7713.png)
![2019-04-28_152622](https://user-images.githubusercontent.com/19409528/56860517-ffa72d80-69c9-11e9-9b38-81f3e07f6a80.png)
![2019-04-28_152723](https://user-images.githubusercontent.com/19409528/56860533-25cccd80-69ca-11e9-981c-8513e

[2019-04-28 07:33] #223 closed

[2019-04-28 15:10] lolipopy opened #224 "请问这个问题 你解决了吗"
我也遇到了这个问题

[2019-04-29 08:59] qykingle commented on #223
后来怎么解决的？

[2019-04-29 09:15] grace618 commented on #223
@qykingle 其中有一个issues问到了，是element ui的问题，element 说下次版本会修复，可以试试其他ui框架，我试了iview可以

[2019-04-29 10:28] aldarund commented on #224
Please create a proper bug report.

[2019-04-29 10:28] #224 closed

[2019-05-02 18:38] andrisole92 opened #228 "Can't access the application running on Ubuntu 16.04"
Hey,

Just tried to launch a sample Nuxt.js app to see it in action compared to Next.js.

Run into the following problem: `Server listening on http://localhost:3000`, but I can't access it via IP address using `http://157.230.84.238:3000/`.

The same thing works with Next.js.

[2019-05-03 13:53] F145h opened #229 "nuxtServerInit is never called"
generate nuxt project with express, add **store/index.js** with **nuxtServerInit**:

[code]

but method test() runs fine from this.$store.dispatch('test'...)

probably nuxtServerInit() never called from nuxt.render

[2019-05-03 14:14] F145h commented on #229
need select "Choose rendering mode" as "Universal"

[2019-05-03 14:14] #229 closed

[2019-05-06 06:32] yangguoquan opened #230 "add egg.js server template"
add egg.js server template

[2019-05-10 01:30] ndphuong commented on #223
How about this issue ?

[2019-05-15 12:11] RomaricDel commented on #184
I came across the same issue locally, for me the following saved the day

`NODE_OPTIONS=--max_old_space_size=4096 npx create-nuxt-app my-app`

Node version: 10.15.3
NPM: 6.4.1

[2019-05-16 06:55] mjbates7 opened #238 "nuxt version isn't the latest"
Hello,

When I use the create-nuxt-app command, 2.4.0 always gets installed.. Should this be set to be the latest 2.7.1? Or once we've used that command, do we then have to upgrade nuxt itself manually to the latest?

Any guidance appreciated 😃

[2019-05-16 10:57] manniL commented on #238
Duplicate of #209

[2019-05-16 10:57] #238 closed

[2019-05-18 13:40] jamesgeorge007 opened #240 "Print out local environment information on passing in a dedicated option (--info)"
It is good to have a dedicated option which prints out the local environment information.
## Proposed API
`create-nuxt-app --info`

[code]

I would be happy to work on this :clap:

[2019-05-18 13:41] jamesgeorge007 commented on #240
@Atinux @clarkdo Thoughts :thinking:

[2019-05-21 10:14] MichMich opened #242 "Update Tailwind."
A few weeks ago Adam Wathan released Tailwind 1.0. `create-nuxt-app` still includes the config files for an old setup: https://github.com/nuxt/create-nuxt-app/tree/master/template/frameworks/tailwind

It is advised to upgrade to Tailwind ^1.0

[2019-05-21 15:18] manniL commented on #242
See https://github.com/nuxt/create-nuxt-app/pull/237

[2019-05-21 15:18] #242 closed

[2019-05-22 03:01] ushironoko opened #243 "Include project in src/"
Change or add settings to expand the generated project under the src directory.

## motivation

This change not only makes the working directory clearer, but also helps to set up the linters and CIs.

As the project gets larger, changing srcDir can be difficult, so it is worthwhile to add settings to this project.

[2019-05-26 16:08] iniva opened #245 "Next Release with updated Hapi Nuxt plugin"
Current release `v2.6.0` uses `hapi-nuxt: ^1.0.1` which still uses [hapi v17](https://github.com/nuxt-community/hapi-nuxt/blob/v1.0.0/package.json#L23).

Creating a new app using `yarn create nuxt-app example` and choosing **hapi** as server makes the installation show lots of warnings like this:
[code]

The code in `master` branch has the latest `hapi-nuxt` version along with other [enhancements]

[2019-05-27 06:12] mistGit opened #246 "Error after setup - Unexpected identifier - Missing stack frames"
![Screenshot_2019-05-27 Screenshot](https://user-images.githubusercontent.com/34454110/58398481-767d2800-8055-11e9-8979-03b755b22d30.png)

Getting this error after setup using "npx create-nuxt-app"

Versions:
Nuxt: tried both 2.7.1 & edge(2.8.0)
Npm: 6.4.1
Node: 10.15.3 (Also tried reinstalling...)

No additional modules installed.

Options selected when installing:
Server: None
UI Framework: Boot

[2019-05-27 08:31] nderewianka commented on #246
try running 'npm run generate' and then 'npm run dev'

[2019-05-27 08:39] mistGit commented on #246
@nderewianka Unfortunately it had no effect.

Interesting thing is that when I build it for production and run it after that, it works,

[2019-05-27 14:27] bryan-22 commented on #246
still having the same problem. do you slve it?

[2019-05-27 14:59] noven commented on #246
It's the bootstrap-vue that cause the problem.
In nuxt.config.js , under modules remove 'bootstrap-vue/nuxt'.

then create BootstrapVue.js under folder plugins.
`import Vue from 'vue'
import BootstrapVue from 'bootstrap-vue'

Vue.use(BootstrapVue)
`

Back to nuxt.config.js, and register the plugins manually

`  plugins: [
    'plugins/BootstrapVue'
  ],`

[2019-05-27 15:59] mistGit commented on #246
@noven Thanks a lot! This solution got it working!

[2019-05-27 15:59] #246 closed

[2019-05-30 07:01] Jonathan-Rao opened #247 "create-nuxt-app安装完成后，运行npm run dev 页面出错"
![QQ截图20190530145815](https://user-images.githubusercontent.com/16660755/58614677-a5acc700-82eb-11e9-8d98-4a05d3f8e9b2.png)

[2019-05-30 21:08] MH-Alsubhi opened #248 "create-nuxt-app:Unexpected identifier after npm run dev"
After I create new nuxt project using `npx create-nuxt-app` then starting dev server `npm  run dev` I get this error
[code]
 Screenshots:
![image](https://user-images.githubusercontent.com/5531539/58664682-d581bc00-8337-11e9-8e9a-99eaf4fce9f2.png)

![image](https://user-images.githubusercontent.com/5531539/58664800-1548a380-8338-11e9-8fe1-685d0a77b170.png)

![image](https://user-images.githubuserc

[2019-05-31 08:14] clarkdo commented on #245
/cc @pi0

[2019-05-31 08:14] kacak9229 opened #249 "I don't see ant-design?"
Can you guys update so that I can use ant-design

my npm/npx is 6.9

[2019-05-31 08:22] pi0 commented on #245
#231 is not published yet. You can safely do this in your project.

[2019-05-31 10:38] MH-Alsubhi commented on #248
[code]
here is nuxt.config.js
[code]

please let me know if there is other info needed

[2019-05-31 10:49] vasisouv commented on #248
Can confirm as well

create-nuxt-app options:

Framework:
 * Express

Features:
* PWA
* Linter / Formatter
* Axios
* Prettier

UI Framework:
* BootstrapVue

Test Framework:
* Jest

Rendering mode:
* Universal

[2019-05-31 11:15] vasisouv commented on #248
Related to: https://github.com/bootstrap-vue/bootstrap-vue/issues/3397

[2019-06-04 21:03] garrensweet commented on #23
It's been 2 months without an update here. When can we realistically expect TS as an option with create-nuxt-app?

[2019-06-06 16:41] emelendez opened #252 "fresh install with vuetify errors in nuxt.config.js"
[code]

the complete FRESH  'nuxt.config.js' generated:
[code]

[2019-06-06 20:59] clarkdo commented on #252
Fixed in v2.7.1

[2019-06-06 20:59] #252 closed

[2019-06-07 11:55] clarkdo commented on #245
v2.7.1 has been released

[2019-06-07 11:55] #245 closed

[2019-06-07 11:56] clarkdo commented on #249
Could you try v2.7.1 ?
![image](https://user-images.githubusercontent.com/4312154/59102339-acf35680-8923-11e9-969c-7a1463ee296f.png)

[2019-06-08 10:46] j172993563 commented on #229
@F145h Thanks.The issue was occurred as you said. I changed the mode from 'spa' to "Universal" in nuxt.config.js. The problem was solved.

[2019-06-09 14:44] upeartaker opened #253 "nginx 代理nuxt服务，asyncData失效"
比如使用nginx 将 xx.dd.com 代理到 ww.dd.com/xx 下，asyncData函数没有调用，所有通过ajax请求的数据可以展现，所有需要服务端渲染的数据全部没有拿到

[2019-06-10 09:34] #249 closed

[2019-06-10 09:36] kacak9229 commented on #249
How do i update to 2.7.1?

Regards,

[2019-06-10 10:39] clarkdo commented on #249
Which tool are you using with crate-nuxt-app ?

If you are not using specific version on `create-nuxt-app`, latest version will be automatically applied.

https://github.com/nuxt/create-nuxt-app#usage

[2019-06-10 14:22] kacak9229 commented on #249
I upgraded my npm by running npm update and I still get the nuxt 2.0.0

I use npx create-nuxt-app <app_name>

I even did `npm update create-nuxt-app -g`

How do I update it??

[2019-06-10 15:02] clarkdo commented on #249
nuxt@^2.0.0 is correct, it will map to latest Nuxt 2.x

Have tried pressing down arrow in UI choices ? `ant-design` is at the bottom as my screenshot above.

[2019-06-10 16:32] kacak9229 commented on #249
Hey thanks for helping me, but the problem still persist . I tried to move the arrow down

<img width="379" alt="Screenshot 2019-06-11 at 12 27 21 AM" src="https://user-images.githubusercontent.com/2588948/59210252-c3c5d180-8bdf-11e9-9549-9ada5fd9f91b.png">

My npm version is 6.9.0

My package.json

<img width="440" alt="Screenshot 2019-06-11 at 12 31 29 AM" src="https://user-images.githubusercont

[2019-06-10 16:43] clarkdo commented on #249
It should be after buefy, as well as iview.

[2019-06-10 17:42] manniL commented on #249
probably a cached or globally installed version of create-nuxt-app?

[2019-06-10 17:50] kacak9229 commented on #249
Its not after buefy. It is not there. How do i unistall create-nuxt-app? probably it is a cached thing

[2019-06-11 09:02] #253 closed

[2019-06-11 14:11] rasul312312 commented on #221
I had such an error when I opened it locally, after uploading to the server was gone

[2019-06-12 20:35] TariikHr opened #256 "Ant Design Vue ( Use modularized Antd )"
Hello everyone and sorry if it's not the right place for this one ! It's my very first time on github 😂
I'm using nuxt for a while now and everything works great except for the Antd Framework ! It works as a plugin from the Nuxt CLI ... but the vue devtools keeps showing a warning about should avoid importing the whole package and using the modularized way with babel-import-plugin
Does anyone face

[2019-06-13 07:58] kacak9229 commented on #249
Can anyone help over here?

[2019-06-13 08:33] kacak9229 opened #257 "Very bad performance from Audit (Lighthouse from Google)"
Im doing a benchmarking to see the performance of nuxt application. It is really bad, I did it many times but always getting bad result

<img width="1322" alt="Screenshot 2019-06-13 at 4 29 33 PM" src="https://user-images.githubusercontent.com/2588948/59416877-cf401500-8df8-11e9-87b4-f8ab955b6eb7.png">

<img width="1398" alt="Screenshot 2019-06-13 at 4 29 39 PM" src="https://user-images.githubuser

[2019-06-13 16:55] clarkdo commented on #249
@kacak9229 It’s quite difficult to figure out you issue without a reproducible description, could you please join the nuxt discord so that we can communicate without any delay?

[2019-06-14 03:31] tiagomatosweb opened #258 "outdated package.json"
Hi, when create a fresh new nuxt app via

[code]

the package json seems to show the wrong version of the packages.

For instance:
[code]

Which currently is 2.8.1

[2019-06-14 09:27] micheleriva commented on #256
Hi @TariikHr !
The warning is right, it is useless to import the whole package while you're probably using just a few components!
You should import just the components you're actually using, here you are the official guide about importing only certain components: https://vue.ant.design/docs/vue/getting-started/

Hope it helps!

[2019-06-15 00:28] TariikHr commented on #256
Hello @micheleriva Thanks for your answer =)
I Really tried to import components on demand...with and without the babel-import-plugin but with nuxtjs it's not quit easy and create-nuxt-app import the whole package as a plugin.
as mentioned in the Ant Design Vue docs that we should use the modularized way i tried it in the nuxt.confi but nothing really works

Thank you for your time again

[2019-06-15 06:37] eliyas5044 commented on #228
@andrisole92 follow this link [Host-Port](https://nuxtjs.org/faq/host-port)

[2019-06-15 07:59] zamakkat opened #259 "Error running tests with Jest"
Created a new project and selected Jest as the testing framwork. Running into an issue with it though. Node version 10.16.0, npx version 10.2.0.

Using the command "npx create-nuxt-app" and the following options:

Use a custom server framework: Express
Choose features to install:
- Progressive Web App (PWA) Support
- Linter / Formatter
- Axios

Use a custom UI framework: none
Use a custom test fra

[2019-06-15 08:28] zamakkat commented on #259
Hmm strange seems to work after I restarted my machine. Will close then.

[2019-06-15 08:28] #259 closed

[2019-06-15 13:18] mikhailsidorov opened #260 "Precommit hook does not work out of the box. Possible missing dependency"
Hi. When I created a nuxt project using `npx create-nuxt-app`, it creates a precommit hook for `npm run lint` command in package.json. This hook was not working until I installed husky. Is it correct behavior?

[2019-06-16 08:56] shirohana commented on #256
Hello @TariikHr (๑ơ ω ơ)

I'm here for your mail, here's my solution:

## 1. Install `babel-plugin-import`

[code]
or
[code]

## 2. Disable ANTD plugin

#### `nuxt.config.js`
[code]

## 3. Use `babel-plugin-import`

#### `nuxt.config.js`
[code]

## 4. Import component when you need

#### `~/pages/index.vue`
[code]

Enjoy it (๑ơ ω ơ)

[2019-06-17 01:58] TariikHr commented on #256
Thank you so much @shirohana You've saved me =)

[2019-06-17 21:46] seanaye commented on #252
I am having the exact same issue using nuxt 2.8.1 on a fresh install

[2019-06-17 22:05] seanaye commented on #252
I am having the same issue on nuxt 2.8.1 using a fresh install

[2019-06-18 00:36] TariikHr commented on #256
@shirohana Thank you for your greate help again ^^ and i have one last question please ! there is a way to get rid of the reset styles impoted via the babel-plugin-import ?

Thanks for any ideas

[2019-06-18 07:59] olivbau opened #262 "Unknown browser query error"
Just after a fresh install:
[code]
I have the following error: **ERROR  Unknown browser query android all. Maybe you are using old Browserslist or made typo in query.**

[code]

[2019-06-18 08:01] TonSDe commented on #262
I have same issue.

[2019-06-18 08:13] clarkdo commented on #252
@seanaye The latest create-nuxt-app is 2.7.1, could you double check if the version you're using is correct ?

[2019-06-18 09:36] Xin-X commented on #262
I have same issue.
Is there a solution?

[2019-06-18 10:48] swearwalker commented on #262
@Xin-X https://twitter.com/Browserslist/status/1140911400304467968. check this twit

[2019-06-18 10:49] tatump commented on #262
temporary solution
npm i browserslist --save

or edit package.json
"browserslist": [],

This works!
https://github.com/facebook/create-react-app/issues/7239

[2019-06-18 13:41] jpsc commented on #258
Hello @tiagomatosweb.

I don't think it's a problem because the `^` is there to ensure you get the latest minor version.

[2019-06-18 20:40] faiyaz26 commented on #208
I am facing same problem, any quick fix?

[2019-06-18 20:47] faiyaz26 commented on #208
Oh, solved this problem by using this helper from Adonis: https://adonisjs.com/docs/4.0/helpers#_isacecommand

[2019-06-18 23:34] tiagomatosweb commented on #258
Certainly @jpsc but it is annoying see the wrong version of packages, not just for nuxt.
Anyway ...

[2019-06-19 00:59] lenvonsam commented on #262
i have the same issue.
Any solution?

[2019-06-19 01:33] seanaye commented on #252
I used create-nuxt-app then updated to 2.8.1 using npm.
running "npm list nuxt" in the project directory returns 2.8.1

[2019-06-21 13:58] jpsc commented on #257
Hello @kacak9229,

That can be for a miriad of reasons. Not necessarily a nuxt template problem.
But I actually see that you have a vendors file that is 5Mb with a total of 7Mb download. I think that's your main culprid for that performance problem.

You can use `nuxt build -a` to check your bundle contents.

[2019-06-23 12:08] seenickcode opened #266 "Creating project and `yarn run dev` shows just JSON, not website"
[code]

Navigating to localhost:3000 doesn't show the generated website, just:

[code]

[2019-06-23 16:38] #266 closed

[2019-06-24 08:43] clarkdo commented on #262
This is an issue from caniuse-lite, it's duplicate of https://github.com/nuxt/create-nuxt-app/issues/262, let's trace in that ticket.

[2019-06-24 08:43] #262 closed

[2019-06-24 19:06] manniL commented on #258
Constraints in package.json !== actual version number.

[2019-06-24 19:06] #258 closed

[2019-06-24 19:06] manniL commented on #257
Make sure to not test against the dev build but the prod version ☺️

[2019-06-24 19:06] #257 closed

[2019-06-26 15:02] #208 closed

[2019-06-26 15:37] #260 closed

[2019-06-28 11:51] jamesgeorge007 commented on #240
cc @clarkdo

[2019-07-01 18:18] #240 closed

[2019-07-02 01:10] Extarys opened #274 "New project with ESLint/Prettier, warnings and errors"
I just run the create-nuxt-app and I checked ESLint and Prettier and right of the bat I have those errors.
Is it normal? Am I missing something?

I searched here, I'm sorry if I missed an answer.

[code]

[2019-07-02 05:12] jamesgeorge007 opened #275 "Have Issue and PR templates"
With the introduction of `create-nuxt-app --info` I guess it's the right time to have an issue and PR templates.

[2019-07-02 14:30] clarkdo commented on #274
This should be fixed in next version

[2019-07-02 14:31] clarkdo commented on #275
Will be added after --info gets released

[2019-07-02 23:06] Extarys commented on #274
Thanks @clarkdo.
I activated fixing on save, but after modification the changes rolls back. Is it a configuration file missing for prettier/eslint in the folder? Or is it my settings in VS Code that can mess with this?

[2019-07-02 23:08] clarkdo commented on #274
It’s because the default templates were not well formatted, now the template files are all formatted in create-nuxt-app repo.

[2019-07-02 23:11] Extarys commented on #274
Ohh I see, is there a way to test that? You said it was going to be in the next release?
I could never make prettier and vue work ok together I don't know why and I'm kind of lost on how to fix this :smile:

[2019-07-02 23:12] clarkdo commented on #274
The prettier formatting on save should work together with your vscode plugin setting, you should check the doc of the plugin you’re using.

[2019-07-02 23:18] Extarys commented on #274
Oh ok awesome, thanks!

[2019-07-02 23:18] #274 closed

[2019-07-02 23:25] Extarys commented on #274
Well, I have prettier and vetur installed. It doesn't seem that there is an option for "Read the config file provided inside the project's folder" kind of thing.

Even `yarn run lint -- --fix` messed up and made things worse.

I thought the plugins read the config files `.prettierrc` and `.eslingrc.js` provided by create-nuxt-app... :confused:

[2019-07-02 23:27] clarkdo commented on #274
Can you provide me a repo and steps?

I can have a look tmr, it’s 1 am now😿

[2019-07-02 23:28] Extarys commented on #274
Oh damn, go get some sleep :)

[2019-07-02 23:33] Extarys commented on #274
Ok, it's VS Code the problem. Creating a new project and running it is fine. But when I open the folder in VS Code and try to run it there is plenty of errors. I think a plugin is messing the code. I should've test this earlier.

Have a good night and thanks for your help

[2019-07-03 00:05] Extarys commented on #274
I modified .eslintrc.js:
[code]

VS Code extentions: Vetur, Eslint.
Config:
[code]

TADA! :fireworks:

[2019-07-03 07:14] wuhhh commented on #274
Installing Nuxt without eslint & prettier and following the steps here https://medium.com/@gogl.alex/how-to-properly-set-up-eslint-with-prettier-for-vue-or-nuxt-in-vscode-e42532099a9c gave me a perfect working setup. Hope it helps :)

[2019-07-04 00:28] Extarys commented on #274
Thanks @wuhhh

[2019-07-05 08:00] MaeseppTarvo opened #276 "Initial install with yarn and Vuetify selected gives 6 problems"
Hey! I wanted to say that Initial install with yarn and Vuetify selected gives 6 problems.
These are the options provided:
[code]

`VuetifyLogo.vue 6:3  error  Insert `/`  prettier/prettier`
[code]
`inspire.vue  4:7  warning  Disallow self-closing on HTML void elements (<img/>)  vue/html-self-closing`

yarn lint --fix fixes it but then again gives error.

[2019-07-09 02:22] selfconfidence opened #280 "<%_ if ( ) { _%>"
vscode   write nuxt.config.js  <%_ if (eslint) { _%> , error  Tips?

[2019-07-09 02:24] selfconfidence commented on #280
我在使用 vscode 编写代码的时候,导入脚本架,但是vs不认账,无法识别 <%_ if ( ) { _%> 这种语法格式,是否需要安装什么插件?

[2019-07-09 08:26] yli-yasir commented on #276
I am having the exact same issue but with NPM as package manager...

[2019-07-10 21:20] clarkdo commented on #280
`<%_ if ( ) { _%> ` 是模版文件, 不能直接倒入到工程, 请按照文档使用https://github.com/nuxt/create-nuxt-app#usage

[2019-07-11 07:56] selfconfidence commented on #280
谢谢,明白了.

[2019-07-11 17:22] #280 closed

[2019-07-15 17:00] #276 closed

[2019-07-16 07:05] TrueCarry opened #286 "Default express integration is outdated"
Current version of nuxt works poorly with express as main entry point. It doesn't show  build progress, can't connect to dev websockets before full build of app. Maybe in future problems will be more severe.
How about using express as server middleware, or with nuxt express module? I can make PR if any of that is acceptable.

[2019-07-16 15:12] Atinux commented on #286
Hi @TrueCarry,

Indeed it has to be updated, using a module (adding a serverMiddleware) is the best approach at the moment before introducing Nuxt services (and avoiding sharing same process for Nuxt renderer and API).

Your PR is more than welcome :)

[2019-07-17 14:57] Thihup commented on #23
Ping

[2019-07-18 11:51] dominikg opened #287 "outdated dependencies in newly created app"
[code]
especially babel-core seems odd, as @babel/core exists for quite some time and nuxt.js itself uses it: https://github.com/nuxt/nuxt.js/blob/dev/package.json

Is there a recommended way to update dependencies after the initial creation?

version information:
[code]

[2019-07-18 13:47] nainemom opened #288 "Add a New UI Framework: Framevuerk"
Hi. I fork the repository and put **Framevuerk** into UI Frameworks in a new branch. I check everything to make sure it works (with yarn, other server frameworks, etc). But now I don't found anywhere to verify changes that i made. So can you please check it before I send a pull-request?

forked repo:
https://github.com/framevuerk/create-nuxt-app/tree/add-framevuerk

Framevuerk docs and demo:
https

[2019-07-18 16:57] tavuntu opened #289 "Option to skip prompts or to read them from a file"
Not sure if it exists but I don't see it on the README file. It would be nice to have an option to skip all the things (web server, UI, etc.) and use some default (or to read them from a json file).

[2019-07-18 17:24] clarkdo commented on #289
Actually @nuxt/core-team has discussed about this and I made some attempts on https://github.com/nuxt/create-nuxt-app/commits/preset as well , I think we'll decide the final proposal and work out a prototype soon.

[2019-07-18 17:25] clarkdo commented on #288
Feel free to create the pr, the team members will help and review

[2019-07-18 17:26] clarkdo commented on #287
I'll update them and it should be fixed in next release.

[2019-07-18 21:23] sandro-git opened #290 "linting doesn't work properly"
hello,

i just start a new project with create-nuxt-app and eslint doesn't work properly with prettier. i can't change the default settings. i use vscode. can you help me ?

sorry guys can someone help me ? the linking it just driving me crazy !!!

[2019-07-22 08:55] ksbgenius opened #293 "scrollBehavior not work..."
I'm used

npx create-nuxt-app <project-name>

I'm selected modules is
vuetify,
axios, pwa,
eslint,
ssr

in nuxt.config.js

router: {
    scrollBehavior: function (to, from, savedPosition) {
      console.log(to)
      console.log(from)
      console.log(savedPosition)
      return { x: 0, y: 0 }
    }
  }

not work console.log and others..
check scrollBehavior

[2019-07-23 02:32] miteyema commented on #287
@clarkdo Will this mean that ESLint 6 will be used from now on?

[2019-07-23 06:35] clarkdo commented on #287
It depends what https://github.com/nuxt/eslint-config is using

[2019-07-23 14:10] aretw0 commented on #276
It has been fixed, so... why is still happening?

[2019-07-23 14:16] MaeseppTarvo commented on #276
Because the way they "fixed" the problem does not fix the issue. They just moved the line more down so they should not conflict anymore with each other. It should at least fix some of the problems that may occur that are related to similar problems.

[2019-07-23 17:59] lmichelin opened #294 "Intellisense does not work on VS Code when using imports with Webpack aliases"
I wrote an article to explain this issue and how to fix it 😉:
https://lmichelin.fr/vscode-intellisense-jsconfig-vue-js-nuxt-js-absolute-imports/

Cause: No `jsconfig.json` file is generated by `create-nuxt-app`.

[2019-07-23 18:36] clarkdo commented on #276
@aretw0 The fix hasn’t been released yet, it will be released before next weekend.

@MaeseppTarvo If you’re interested the background of the fix, you can have a look at https://github.com/prettier/prettier/issues/5363

[2019-07-24 09:19] appximus opened #295 "Create with Vuetify version 2.0.0"
Hi all,

I've been trying to create nuxt application using Vuetify 2.0.0.

I use create-nuxt-app then try to upgrade Vuetify and modify webpack but got nowhere.
I keep getting `sass` and `node-sass` error even though i specifically added
[code]

Anyone done this yet?

[2019-07-24 09:40] willi-dev opened #296 "install with npx create-nuxt-app, always install old version (v2.3.4)"
any suggestion, i install via npx create-nuxt-app, but always v2.3.4 that installed..
how to force install to latest version?

Thanks.

[2019-07-24 19:08] mastix commented on #287
Not to forget that nuxt also uses vuetify-loader (1.2.2; latest) which refers to vuetify ^1.3.0 (latest would be 2.0.0).

[2019-07-24 19:14] mastix commented on #295
https://github.com/nuxt-community/vuetify-module/issues/66 :)

[2019-07-25 12:26] kakajansh commented on #290
I also had trouble with linting. For my case the reason was that `npx create-nuxt-app` pulls older version of eslint module. Upgrading deps resolved issue.

Details of my issue [here](https://github.com/nuxt-community/eslint-module/issues/12)

[2019-07-25 13:34] Mourdraug opened #298 "eslint with prettier isn't working correctly"
I'm trying to create project with create-nuxt-app and change indentation to tabs. When I add `"useTabs": true` to `.prettierrc` and run lint I correctly get `prettier/prettier` errors, however running lint --fix results in `no-tabs` errors which should be turned off by eslint-prettier-config. Updating all deps gives me the same errors.

[2019-07-25 16:52] lysz210 commented on #295
I upgraded @nuxtjs/vuetify, sass, sass-loader and fibers with yarn and it worked, didn't do any changes. Some componenge are different so I have work to do.
I checked with style[lang=scss scoped] in .vue.

[2019-07-26 04:12] SaKKo commented on #295
It seems like my problem is I'm using create-nuxt-app and the default template has errors.

[2019-07-26 12:19] #295 closed

[2019-07-26 12:32] clarkdo commented on #290
The new version will be released this weekend, the error should be fixed, I'll leave comment here after release.

[2019-07-26 12:34] clarkdo commented on #296
Per npm doc: By default, npx will check whether <command> exists in $PATH, or in the local project binaries, and execute that. If <command> is not found, it will be installed prior to execution.

So you can check 2.3.4 has been installed in your local and uninstall it.

[2019-07-26 14:53] manniL commented on #296
Duplicate of #209

[2019-07-26 14:53] #296 closed

[2019-07-26 14:56] manniL commented on #293
Please provide more detail or a reproduction via codesandbox.

[2019-07-26 14:57] manniL commented on #287
@mastix 	see #297

[2019-07-26 14:57] #287 closed

[2019-07-26 14:57] manniL commented on #298
Duplicate of #290

[2019-07-26 14:57] #298 closed

[2019-07-26 15:18] manniL commented on #23
I can't promise anything, but now that https://github.com/nuxt/nuxt.js/pull/5858 is through, we could tackle that issue :+1:

[2019-07-26 15:18] manniL commented on #275
cc @Atinux for CMTY support?

[2019-07-26 20:13] #288 closed

[2019-07-26 20:13] clarkdo commented on #290
v2.9 has been released, could you try it ?

[2019-07-27 01:00] miteyema opened #301 "no console.log warnings anymore"
Hi

Kudos on the new v2.9.0.
I've used it to scaffold a new project using `yarn create nuxt-app`.
It have the following dependencies in `package.json`:
[code]
When I write for example this:
[code]
I don't get any warnings of `console.log` in my code, not for `yarn dev` nor for `yarn build`.
When I used the previous `yarn create nuxt-app` to scaffold a new project, I did get those warnings for `con

[2019-07-27 06:17] takehiro-takahashi opened #302 "[error] choose UI Framework 'framevuerk' Failed to compile errors"
choose
[code]

error
[code]

[2019-07-27 07:54] clarkdo commented on #301
I fount it comes from https://github.com/nuxt/eslint-config/pull/2, this rule is only enabled in production now.

[2019-07-27 08:35] clarkdo commented on #302
@nainemom I corrected the css name (maybe should be changed in framevuerk-builder side), but it still has some errors, could you have a look ?

Error in `framevuerk-builder`:

[code]

In nuxt dev, this error only happens in `framevuerk` template:

[code]

[2019-07-27 09:12] nainemom commented on #302
I realized that Ali doesn't respect `npm-shrinkwrap.json` file that I used in `framevuerk-builder` package. I'm working on it inside [this](https://github.com/framevuerk/framevuerk-builder) repo and also let you know when it's finished.

[2019-07-27 09:36] sandro-git commented on #290
@clarkdo thank you very much it works just fine. i notice a kind of glitch when linting templates before prettier/prettier take over and format properly.

thank you very much for this fix. and your time.

[2019-07-27 09:36] #290 closed

[2019-07-27 11:28] miteyema commented on #301
@clarkdo Thanks for the reply, that already solves the development part. But I don't get any warnings/errors when I am in production: e.g. running `yarn build` or `yarn generate`. Why is that?

[2019-07-27 15:24] nainemom commented on #302
@clarkdo It's fixed now. I changed the installation steps of `framevuerk-builder` (manually install dependencies in `postinstall` script) and published a new patch version of that on the npm registry. So now it's fixed and should work via both `npm` and `yarn` without any changes in this repo.

[2019-07-27 15:31] clarkdo commented on #302
@nainemom Great work,thank you so much !
@takehiro-takahashi Could you try again?

[2019-07-27 15:40] clarkdo commented on #301
I’ll discuss with team and provide a proper solution, for now I think should be prepending “NODE_ENV=production” in lint scripts link.

[2019-07-27 17:22] clarkdo commented on #301
Or override it in eslintrc.js:

[code]

[2019-07-27 17:23] clarkdo commented on #301
@miteyema I made a pr for making it `warning` level in development mode

[2019-07-27 17:47] #301 closed

[2019-07-28 23:35] miteyema commented on #301
@manniL Awesome, thank you so much for this fast response!

[2019-07-29 13:30] lambda0xff opened #305 "yarn create-nuxt-app doesn't install babel-core dependency ?"
Creating a brand new project with `yarn/npx create-nuxt-app` doesn't install the `babel-core` dependency ?

[2019-07-30 01:01] takehiro-takahashi commented on #302
@clarkdo
Thank you so much !
It worked without problems!

@nainemom
Thank you so much !
You responded quickly and I was saved a lot!

[2019-07-31 15:00] bujji1 opened #306 "with vuetify 2.0.3 throwing template error"
[code]

[2019-07-31 15:01] bujji1 commented on #295
@SaKKo - Did you find any solution for the default template issue ? I am having the same problem

[2019-07-31 16:37] bujji1 commented on #306
It was my issue .
Some how there were multiple create-nuxt-app installed on my machine . I ran the below command and it cleaned the stuff .
npm uninstall -g create-nuxt-app

Now it is working just perfect with npm . sorry for the wrong call

[2019-07-31 16:37] #306 closed

[2019-08-01 04:50] magpiedigital commented on #305
I'm also seeing this.

When running `npm run test`, I got an initial error saying "Cannot find module 'babel-core'"

Fixed by doing `npm i -D babel-core` and the test succeeds, but I still get a coverage error:
[code]

[2019-08-01 09:35] #302 closed

[2019-08-02 10:29] runyasak opened #307 "[Feature Request] Remove nodemon when chose Server framework `none`"
Hi, I always use `create-nuxt-app` to initiate my nuxt projects, it helps me convenient.

Normally, I choose sever framework to `None (Recommend)` because I have separated repos with team.
However, I've seen that there will install with `nodemon` which I didn't use it without server. Finally, I uninstall `nodemon` from `node_modules`.

I want to know that is `nodemon` using in any part of nuxt pro

[2019-08-02 13:38] manniL commented on #307
As you see, it's not that easy for the current architecture :see_no_evil:

[2019-08-02 19:16] felubra commented on #305
Same here.

[2019-08-03 08:40] magpiedigital commented on #305
managed to fix both issues by reinstalling as babel-bridge `npm install babel-core@7.0.0-bridge.0`

[2019-08-03 10:28] jfcmoeller opened #308 "limited amount of options"
Good morning,
I am not able to create a nuxt app with all the new nice options (jest, ant-design, etc.). I already did update node and npx. I really appreciate any help.

[2019-08-03 21:08] clarkdo commented on #308
Could you provide more details ?

[2019-08-03 21:10] clarkdo commented on #305
Latest nuxt is using @bable/core, could you please show me your create-nuxt-app version and all selected options so that I can reproduce it?

[2019-08-04 01:36] magpiedigital commented on #305
Selecting options
<img width="373" alt="Screenshot 2019-08-04 at 08 32 12" src="https://user-images.githubusercontent.com/9589803/62418424-ae769c00-b692-11e9-8ac7-6fee276dd7b1.png">

Test error
<img width="568" alt="Screenshot 2019-08-04 at 08 32 36" src="https://user-images.githubusercontent.com/9589803/62418438-eed61a00-b692-11e9-90d0-51bc2adc79b8.png">

Package.json
<img width="373" alt="Screen

[2019-08-04 20:47] #307 closed

[2019-08-04 20:59] #305 closed

[2019-08-04 21:13] clarkdo commented on #305
Fix has been released as 2.9.1

[2019-08-04 21:13] clarkdo commented on #247
Could you try latest version and provide more details ?

[2019-08-04 21:31] clarkdo commented on #221
请问可以提供一个可重现问题的仓库么？

[2019-08-04 21:31] clarkdo commented on #147
Fixed in 2.9.1

[2019-08-04 21:31] #147 closed

[2019-08-05 07:32] basselAhmed opened #311 "Lint-staged template incorrect behavior"
When you choose the lint-staged option, the default template in package.json will be

[code]

But the **yarn lint** script actually lints all js and vue files, not just the staged files which is the wanted behavior by that package as found in

[code]

It should be changed to

[code]
That way it'll work only on staged files and user could add **--fix** option to automatically fix the issues if poss

[2019-08-05 11:54] clarkdo commented on #311
Fixed in https://github.com/nuxt/create-nuxt-app/commit/b516d234d733d0b5f2ddf0e1219d4eadef8e9d40

[2019-08-05 11:54] #311 closed

[2019-08-05 16:59] AndreiD opened #316 "integration with wails"
https://github.com/wailsapp/wails looks like a cool project.
I want to integrate it with nuxt but, unfortunately I don't manage how to do it.

Does anyone wants to take a look and see how it can be integrated ?

[2019-08-05 22:11] manniL commented on #308
Double check you don't have any old global version of create nuxt app installed or in the cache.
For the sake of testing, you could also use `yarn create nuxt-app myprojectname`

[2019-08-08 04:27] vinayakkulkarni commented on #308
@jfcmoeller : try `npm outdated -g` in your terminal, you'll see list of all outdate global packages.

It will look something like this:
<img width="243" alt="Screenshot 2019-08-08 at 9 56 18 AM" src="https://user-images.githubusercontent.com/19776877/62675050-ca47ae00-b9c2-11e9-8f59-80210d58c2ab.png">

You can either [update a single package](https://docs.npmjs.com/updating-packages-downloaded-fr

[2019-08-08 07:30] jfcmoeller commented on #308
Hi all, Thanks for all the answers. I typed `npm outdated -g` in my terminal. That is the output:
`npm ERR! Cannot read property 'length' of undefined`

[2019-08-09 12:29] zhaoyuqing7 opened #319 "DOMException: Failed to execute 'appendChild' on 'Node': This node type does not support this method."
本地运行没有问题，测试环境也没问题，一部署到线上就报这个错误

[2019-08-09 22:11] clarkdo commented on #319
能提供关于问题的详细信息吗，比如可重现问题的库

[2019-08-09 22:19] clarkdo commented on #319
I think the issue can be tracked  here https://github.com/nuxt/nuxt.js/issues/5800

[2019-08-10 19:02] #319 closed

[2019-08-12 18:18] sandro-git opened #323 "create-nuxt-app -e or --edge doesn't work"
hello , i try to create an app with create-nuxt-app -e or --edge and does the exact same thing if i have not add any flag is it a normal behavior ? i expect other one. if it's a bug i will glad to help and try to make a PR for that but i don't find any step to launch the project localy.

[2019-08-15 09:43] #294 closed

[2019-08-16 10:39] begueradj opened #324 "Why did you downgrade to Nuxt.js v.2.0.0 ?"
This is rather a question (sorry, I do not see where else to ask it)

Previously, running `create nuxt-app myApp` installs **nuxt v2.4.0** but today for example I noticed you downgraded to **nuxt v2.0.0**.

Can you please explain why ?

Thank you,
Billal BEGUERADJ

[2019-08-16 11:50] manniL commented on #324
Duplicate of #209

[2019-08-16 11:50] #324 closed

[2019-08-16 12:02] begueradj commented on #324
Thank you @manniL but the question remains because:
1. I did not change the development environment, so noticing Nuxt is downgraded is weird to me.
2. On the link you provided, there is not an answer to how to upgrade  `nuxt-app`

[2019-08-16 12:25] begueradj commented on #209
Could you please share how you upgraded this mysterious `create-nuxt-app` ?

[2019-08-17 11:27] begueradj opened #325 "Unepected Nuxt downgraded version"
Previously, running `yarn create nuxt-app myApp` installs Nuxt v2.4.0 but today for example I noticed you downgraded to Nuxt v2.0.0. I did not change the development environment so I can not understand this behavior.

[This](https://github.com/nuxt/create-nuxt-app/issues/324) and [that](https://github.com/nuxt/create-nuxt-app/issues/209) do not provide any clarification to this issue.

Can you ple

[2019-08-17 15:46] begueradj opened #326 "How does create-nuxt-app function ?"
How to check which `create-nuxt-app` version I am running ?
How to upgrade it ?
How to install it ?

I am asking following the answers given [here](https://github.com/nuxt/create-nuxt-app/issues/209) and [there](https://stackoverflow.com/questions/55691937/why-does-create-nuxt-app-installs-nuxt-version-1-4-5?noredirect=1&lq=1).

Thank you,
Billal BEGUERADJ

[2019-08-17 23:09] manniL commented on #325
Can't reproduce. If you are referring to the `package.json`, please read [my comment](https://github.com/nuxt/create-nuxt-app/issues/209) where I've sent you before.

![image](https://user-images.githubusercontent.com/640208/63218148-bb949000-c154-11e9-94c7-94ef8d90d20b.png)

[2019-08-17 23:09] #325 closed

[2019-08-17 23:11] manniL commented on #326
You see the version when using `yarn create nuxt-app`. if it is outdated, clear your yarn/npm cache or remove local versions of it. Please consult the npm/yarn documentation for that.

![image](https://user-images.githubusercontent.com/640208/63218159-0b735700-c155-11e9-889b-1430efd07e7a.png)

[2019-08-17 23:11] #326 closed

[2019-08-18 21:28] clarkdo commented on #323
Hi @sandro-git , when you use --edge or -e, `nuxt-edge` will be installed and used  instead of `nuxt`, this works fine in my local, could you provide more details ?

[2019-08-19 08:59] munkhbaatar999 commented on #184
Did not work either. Ubuntu 19.04 throwing  SAOError. Any solution in 2019 August?.
NODE_OPTIONS=--max_old_space_size=4096 npx create-nuxt-app my-app is it work?

[2019-08-19 18:32] sandro-git commented on #323
Hi @clarkdo i just try to scarfold again a project and all goes ok. Sorry and thanks for your trouble.

[2019-08-19 18:32] #323 closed

[2019-08-19 18:56] clarkdo commented on #323
No worries, thanks.

[2019-08-20 10:11] SyloRei commented on #23
Nuxt 2.9 is out. I think the community needs this typescript option asap. Let's do it! 🎉

[2019-08-21 07:43] #256 closed

[2019-08-21 07:47] TariikHr opened #329 "devModules still in the 2.9.1 nuxt.config"
I Know that it's easy to change devModules to buildModules in the nuxt.config but i wanted to let you know that even with the latest version of Nuxtjs there is no buildModules in the the nuxt.config and still getting WARNING in the Bash about deprecated devModules

[2019-08-21 18:49] clarkdo commented on #329
Thanks for reporting the issue, fixed in create-nuxt-app@2.10.0

[2019-08-21 18:49] #329 closed

[2019-08-22 11:27] hi2u commented on #23
FYI for those interested, Next.js now supports TypeScript by default, no plugins or config needed:

* https://nextjs.org/blog/next-9#built-in-zero-config-typescript-support

[2019-08-26 12:09] ButsAndCats commented on #229
Oh wow, it took me so long to find this. Would be awesome to get this documented on this page: https://nuxtjs.org/guide/vuex-store/#modules-mode Is there somewhere I can contribute to the documentation?

[2019-09-05 03:21] ScrippsFEE commented on #184
If you are using a version of node less than v8.12.0, then try installing 8.12.0 and rerun create-nuxt-app. I was using 8.11.1. When create-nuxt-app failed, I tried using the Vue CLI to create a new Vue project. I got this error message:

[code]

I installed 8.12.0 (using NVM on MacOS) and reran create-nuxt-app and it worked.

[2019-09-05 10:11] mavinemvento commented on #229
im using universal mode but nuxtserver action is not still executed

[2019-09-06 23:26] mapsgeek commented on #324
why the hell no one gives a valid explanation ?!!

[2019-09-09 06:27] mgnrfk commented on #256
Hi,

I have a problem importing the Layout component, as I use <Sider> inside a <Layout>, I'm getting an error : [Vue warn]: Unknown custom element: <Sider> - did you register the component correctly? For recursive components, make sure to provide the "name" option.

Any idea ?

[2019-09-10 03:00] shirohana commented on #256
Please provide your template code (´・ω・｀)

[2019-09-10 06:10] mgnrfk commented on #256
Trying with the default Layout from the [ant docs](https://vue.ant.design/components/layout/#API)

`import { Layout } from 'ant-vue-design';`

[code]

The warning is about Sider, latest ant, latest nuxt

[2019-09-11 01:03] shirohana commented on #256
@mgnrfk Is it you make the `Layout` component registered?

You can do that like:

#### if you're using Single File Component

[code]

#### or register as a Global Component in your main.js or index.js
[code]

[2019-09-13 07:01] mgnrfk commented on #256
@shirohana that's what I'm doing, using Single File Components, looks like the child components aren't imported (like Layout.Sider, Form.Item etc..)

I'm using last versions of nuxtJS and Ant (1.3.16)

[2019-09-16 02:39] guofeifei123 opened #337 "Nuxtjs cooperates with Nestjs"
要是create-nuxt-app能支持Nestjs就好了。

[2019-09-18 07:07] coolsam726 commented on #23
I just stumbled upon [nuxt-app-ts](https://www.npmjs.com/package/create-nuxt-app-ts). My problem is solved. Just try:
[code]
or
[code]
or
[code]

[2019-09-18 11:53] udanpe commented on #23
@coolsam726 unofficial library, with old version of nuxt (last updated 5 months ago) it's not the solution.
[code]

[2019-09-18 18:21] christophwolff commented on #23
Have you seen https://typescript.nuxtjs.org/ ?

[2019-09-19 04:59] eseiker commented on #23
another pr being worked XD tracking #328 might be helpful

[2019-09-19 13:16] udanpe commented on #23
typescript-template https://github.com/nuxt-community/typescript-template

[2019-09-22 02:59] trandaison commented on #184
This bug is still happen.

- Node v11.8.0
- Yarn 1.17.3
- npm 6.5.0
- Ubuntu 14.04

[2019-09-22 03:56] vinayakkulkarni commented on #180
Should be fixed with #226

[2019-09-22 03:57] vinayakkulkarni opened #339 "Ability to load the Nuxt TypeScript template via CLI options"
It'd be nice if TS was an option while creating a new Nuxt app since we already have [Nuxt Typescript](https://typescript.nuxtjs.org/)

--

PS. I've already started working on it.

[2019-09-23 09:41] sgraewe commented on #339
Take a look at this pr :)

https://github.com/nuxt/create-nuxt-app/pull/328

[2019-09-23 09:47] #339 closed

[2019-09-24 14:30] manniL commented on #180
Resolved via #283

[2019-09-24 14:30] #180 closed

[2019-09-26 11:30] kvanska opened #340 "using AVA testing not working as expected"
`yarn create nuxt-app avatest`

choose AVA as test framework

`cd avatest`
`yarn test`

exception:
`yarn run v1.17.3
$ ava
TAP version 13
# Error: Cannot find module '@/components/Logo.vue'`

adding babel.config.js to the root with content:
`module.exports = {
  env: {
    test: {
      plugins: [
        [
          'module-resolver',
          {
            root: ['.'],
            alias: {

[2019-09-27 03:07] 17838963114wu opened #341 "为什么window安装nuxt.js 报错呢？"
Error: EPERM: operation not permitted, mkdir 'C:\Users\MIDAI'
TypeError: Cannot read property 'get' of undefined
    at errorMessage (D:\node\node_modules\npm\lib\utils\error-message.js:38:39)
    at errorHandler (D:\node\node_modules\npm\lib\utils\error-handler.js:201:13)
    at D:\node\node_modules\npm\bin\npm-cli.js:78:20
    at cb (D:\node\node_modules\npm\lib\npm.js:225:22)
    at D:\node\nod

[2019-09-27 07:13] vinayakkulkarni opened #343 "build($bot): add the `delete-merged-branch` bot"
- [x] After successfully merging any PR, the [delete-merged-branch](https://probot.github.io/apps/delete-merged-branch/) bot will automatically delete the merged branch. This is very useful in case the creator of the PR forgets to delete the merged branch.

_This is (imo) a low-priority enhancement for this repo_

[2019-09-29 15:19] felixoi opened #344 "Ava broken?"
I used `npm init nuxt-app`. Now when I use `npm run test` (I selected ava) I'm getting this error:
[code]

So I think something is broken. The file at `components/Logo.vue` exists by the way.

[2019-09-29 15:21] felixoi commented on #344
Damn sorry. This is a duplicate of https://github.com/nuxt/create-nuxt-app/issues/340

[2019-09-29 15:21] #344 closed

[2019-09-29 22:23] 6ones opened #346 "Prettier is stressing me out !!!!!"
Please how do I disable prettier, it doesn't help, complains about everything and slows me down.
I have tried removing it from eslintrc it still complains, please how do I remove this.

[2019-09-30 08:34] aldarund commented on #346
Please, its not for questions, its for reporting issues in the project.
To disable prettier from eslintrc.js plugins

[2019-09-30 08:34] #346 closed

[2019-09-30 14:23] #340 closed

[2019-09-30 14:45] jeisonhiguita opened #349 "Version 2.11.0 is crashing"
I'm running `npx create-nuxt-app <project-name>`

I got this:

[code]

Node version: v10.16.0
npm version: 6.9.0

https://github.com/nuxt/create-nuxt-app/releases/tag/v2.11.0

[2019-09-30 14:46] jeisonhiguita commented on #349
version https://github.com/nuxt/create-nuxt-app/releases/tag/v2.10.1 is working very well

[2019-09-30 15:02] roshangara opened #350 "Trace: Error: Cannot find module './prompts'"
after `yarn create nuxt-app auth`
error :
`Trace: Error: Cannot find module './prompts'`

[2019-09-30 15:02] wrtisans commented on #349
How can i use old version to create nuxt-app?

[2019-09-30 15:08] DivvyByZero commented on #350
Getting the same issue with both `npx create-next-app <name>` and `npm init nuxt-app <name>`
Using Windows, node version 12.3.1 and npm 6.9.0

[2019-09-30 15:09] padri-zan commented on #350
same problem with npx installation,

[2019-09-30 15:15] wmartins commented on #349
@wrtisans I don't know how to specify a version with `yarn`. However, if you can use `npx`, try doing:

[code]

[2019-09-30 15:16] wrtisans commented on #349
@wmartins thanks, it works!! hope can fix the bug soon!

[2019-09-30 15:24] roshangara commented on #350
how?

[2019-09-30 15:30] wmartins commented on #350
@roshangara: https://github.com/nuxt/create-nuxt-app/issues/349#issuecomment-536609437

[code]

[2019-09-30 15:53] NavaneethVijay opened #351 "TypeError: Cannot read property 'get' of undefined"
I'm facing the following error while fresh installation of nuxt project, initially i was getting the same issue #349 after following up the comments I have a new issue while creating the nuxt app. [Windows]

`npx create-nuxt-app@2.10.1 admin`

[code]
Node version: v11.1.0
npm version: 6.4.1

[2019-09-30 16:53] sebaveg commented on #350
Yesterday I ran npx create-nuxt-app and it worked. Today not. Thanks @wmartins

[2019-09-30 17:54] aslamdoctor commented on #350
Same issue here.

[2019-09-30 18:06] webcoderkz commented on #350
Just faced this issue:

[code]

[2019-09-30 18:39] padri-zan commented on #351
please read this
[Click this link to redirect to stackoverflow](https://stackoverflow.com/questions/42678759/npm-error-on-every-command-eexist-file-already-exists-mkdir-c-users-user-ap)

[2019-09-30 18:45] baladmsinfo commented on #350
npx create-nuxt-app project-name works yesterday but getting below issue today
Trace: { Error: Cannot find module './prompts'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:580:15)
    at Function.Module._load (internal/modules/cjs/loader.js:506:25)
    at Module.require (internal/modules/cjs/loader.js:636:17)

[2019-09-30 19:23] ghenry commented on #350
Same on Linux here. Will do https://github.com/nuxt/create-nuxt-app/issues/350#issuecomment-536616454

[2019-09-30 19:31] aldarund commented on #350
fixed in 2.11.1 https://github.com/nuxt/create-nuxt-app/pull/352

[2019-09-30 19:31] #350 closed

[2019-09-30 19:38] ghenry commented on #350
Worth the wait for npm to update or use 2.10.1? Thanks!

[2019-09-30 19:39] aldarund commented on #349
duplicate of https://github.com/nuxt/create-nuxt-app/issues/350#issuecomment-536716487

[2019-09-30 19:39] #349 closed

[2019-09-30 19:39] aldarund commented on #351
try 2,11,1 ( e.g. latest one )

[2019-10-01 03:46] aslamdoctor commented on #350
Do `npm update -g create-nuxt-app` and then try, it should fix. Worked for me.

[2019-10-02 16:28] santiagok986 opened #354 "Problem with npx create-nuxt-app test"
I have this error, any ideas ?

This vue app/component has no vue-meta configuration

**vendors.app.js:740 error TypeError: Cannot read property 'keyName' of undefined**
    at Theme.initVueMeta (vendors.app.js:38358)
    at Theme.init (vendors.app.js:38294)
    at vendors.app.js:33490
    at Array.forEach (<anonymous>)
    at Vuetify.init (vendors.app.js:33487)
    at Vue.beforeCreate (vendors.ap

[2019-10-02 16:41] santiagok986 commented on #354
I fixed

{
  "name": "test",
  "version": "1.0.0",
  "description": "my nuxt to wp",
  "author": "santiagok986@gmail.com",
  "private": true,
  "scripts": {
    "dev": "nuxt",
    "build": "nuxt build",
    "start": "nuxt start",
    "generate": "nuxt generate"
  },
  "dependencies": {
    **"cross-env": "^5.2.0",**
    "nuxt": "^2.0.0",
    **"@nuxtjs/vuetify": "0.5.5"**
  },
  "devDependencies":

[2019-10-02 16:41] #354 closed

[2019-10-02 17:09] perezd opened #355 "pristine app from create-nuxt-app fails on server boot"
What I ran:
[code]

[code]

[code]

![](https://media.discordapp.net/attachments/473406004751499275/628986807966498827/unknown.png)

[2019-10-02 19:09] VPetar commented on #355
The issue is not in the `create-nuxt-app`. It is in the `nuxt` v2.10.0 released today.

Try setting the version of nuxt to 2.9.0 in the dependencies in your `package.json` file:

[code]

I'm sure devs will throw the patch for `nuxt` package soon, but as I said, it's not the `create-nuxt-app` issue.

[2019-10-02 19:23] perezd commented on #355
Excellent, I've filed a bug with nuxt.js and attempted your workaround, confirmed its working as expected. Thanks!

[2019-10-02 19:23] #355 closed

[2019-10-02 19:35] VPetar commented on #355
You're welcome. Hope it doesn't block you on your endeavors, I'm subbed to the issue you opened on nuxt repo. Thanks.

[2019-10-02 20:31] tabishiqbal opened #356 "TypeError: Cannot read property name 'keyName' of undefined"
Running into a problem when creating a new app using `yarn create nuxt-app`.  Following were selected from the questions:

1. Server framework: **None (default)**
2. UI Framework:  **Vuetify**
3. Test framwork:  **Jest**
4. Rendering Mode - **Server Side Rendering (Universal)**
5. Modules: **Axios and PWA**
6. Linting Tools: **ESLint & Prettier**
7. Package manager: **yarn**
8. Development tools:

[2019-10-03 04:06] reireias commented on #356
I tried some versions in same setting.

2.8.0: ok
2.9.2( and higher): ng

[2019-10-03 07:49] byukend-tr commented on #356
Downgrade Nuxt to version 2.9.2 (npm i  --save nuxt@2.9.2)
I think there is some problem about nuxt 2.10.x and @nuxtjs/vuetify

[2019-10-03 08:28] shoichiaizawa commented on #356
I downgraded `nuxt` from `2.10.0` to `2.9.2` and it works as expected (I suppose).

![image](https://user-images.githubusercontent.com/1571648/66110992-df2b7100-e602-11e9-947b-4c8c358d450d.png)

FYI, here are the options I selected through the initial setup:

[code]

With the following versions:

- Nuxt version: 2.9.2
- Yarn version: 1.19.0
- Node version: 10.16.3
- Npm version: 6.11.3

[2019-10-03 14:14] #356 closed

[2019-10-03 14:21] SkyaTura commented on #356
Sorry reopening this issue, but the app shouldn't been able to generate working projects?
If a manual downgrade is necessary to properly work, I guess this is still an issue.

[2019-10-04 05:33] shoichiaizawa commented on #356
Somehow, it seems to work with `2.10.0` now. I am not sure what has been fixed or what 🤔

[2019-10-04 13:17] vlad-tircomnicu commented on #274
Thank you @wuhhh

[2019-10-04 15:38] canthis commented on #256
@mgnrfk Having exact same problem. Did you manage to find a solution?

[2019-10-04 15:50] mgnrfk commented on #256
@canthis didn't figure it out so I'm using it all, I just stripped the Icons to save some size for now.

[2019-10-05 18:10] matteo-rigon opened #357 "Add @nuxtjs/dotenv module to features"
Hello, i'm a avid user of create-nuxt-app and i find myself installing the @nuxtjs/dotenv module every single time to use environment variables for local development.
I think having it as an option on the features section would be really helpful 😀

[2019-10-07 09:11] bgalvao commented on #184
Happening to me as well.

- node 10.16.1
- npm 6.9.0
- yarn 1.17.3

Attempted to create nuxt app with both yarn and npx (while picking npm package manager).

[2019-10-08 18:19] manniL opened #360 "Some suggestion: We may show a message after setup you created a project using latest nuxt x.y.z"
We may show a message after setup you created a project using latest nuxt x.y.z

_Originally posted by @pi0 in https://github.com/nuxt/create-nuxt-app/pull/299#issuecomment-536586731_

[2019-10-09 21:07] aldarund commented on #351
It seems to be resolved, closing. In case its still issue please open a new

[2019-10-09 21:07] #351 closed

[2019-10-11 12:04] manniL opened #362 "Update Nuxt logo"
When creating a project, the [Logo component](https://github.com/nuxt/create-nuxt-app/blob/master/template/nuxt/components/Logo.vue) still includes the old logo, while the one in the [CodeSandbox](https://github.com/nuxt/codesandbox-nuxt) is the new one already.

One could update the component :relaxed:

[2019-10-11 12:23] Illu commented on #362
Hey, I can take care of this 🙂

[2019-10-11 17:44] mercs600 opened #364 "Own template"
Hi Guys, I'm wondering - am I able to create own template to create-nuxt-app based on your ? Should I just fork the repository ?
I would like to add some preconfigured options for our project.

Cheers !

[2019-10-11 21:32] mfish0005 commented on #184
I'm getting the same error.  But it appears no one from core is looking at this issue so maybe someone should open a new one?
`npx create-nuxt-app example-app`
throws this error:
`.../.npm/_npx/335/lib/node_modules/create-nuxt-app/node_modules/sao/lib/installPackages.js:108
        throw new SAOError(`Failed to install ${packageName} in ${cwd}`)`

[2019-10-18 14:05] ScrippsFEE commented on #184
@mfish0005 what version of node are you running? If it's less than 8.12.0, then you need to update your version. This worked for me as described above here: https://github.com/nuxt/create-nuxt-app/issues/184#issuecomment-528179625

[2019-10-18 16:28] ronssij commented on #256
![image](https://user-images.githubusercontent.com/24932380/67111198-055a2f00-f207-11e9-959a-151b115d28db.png)

![image](https://user-images.githubusercontent.com/24932380/67111217-10ad5a80-f207-11e9-8cd3-5e81a7210fc5.png)

I've tried using either of the two. and I always get this on.

![image](https://user-images.githubusercontent.com/24932380/67111342-52d69c00-f207-11e9-9e90-a83e16adeda7.png)

[2019-10-19 03:46] menhio opened #365 "create-nuxt-app v2.11.1 installed outdated versions"
create-nuxt-app is installed outdated. Ex. vuetifyjs 1.0.0, Nuxt 2.0.0

[code]

[2019-10-19 14:46] kastork opened #366 "Make the creation of a git repository optional"
1. Not everyone uses git (shocking, I know)
2. Sometimes you might be creating the project in an existing repository.

[2019-10-22 03:09] codergirll commented on #184
Try this, It may take some time but worked for me.

`sudo chown -R 1000:1000 "/home/you/.npm"`

[2019-10-23 01:32] alansutherland commented on #274
god I hate eslint breaking things

[2019-10-23 22:45] #364 closed

[2019-10-27 08:15] Aperrix opened #367 "Add ``pnpm`` to package manager choice"
Hi everyone !

Can you please add https://pnpm.js.org/en/ to the package manager choice ?
NPM and Yarn are great but PNPM too 😄

[2019-10-30 16:00] wsw70 opened #368 "Missing module 'libnpm/fetch' when creating a new project"
### Version

[v2.10.2](https://github.com/nuxt.js/releases/tag/v2.10.2)

### Reproduction link

[npx create-nuxt-app testpage](npx create-nuxt-app testpage)

### Steps to reproduce

[code]

### What is expected ?

A project skeleton is created

### What is actually happening?

The creation fails with a missing module (`libnpm/fetch`)

### Additional comments?

This is a first-time attempt to creat

[2019-10-31 16:26] milosmijakovac commented on #295
1.0.0-beta is the version of the nuxt-module, and that’s the version that had Vuetify 2.0.0-beta.2 as a dependency

so to be clear:
when you see in package.json  --->  "@nuxtjs/vuetify": "^1.0.0"  that means that this module has vuetify 2.0.0

if you go into node_modules and find vuetify folder, there is a package.json file where you can see what is current vuetify version.

[2019-11-02 15:11] daniplaninc opened #369 "error with standard/computed-property-even-spacing"
My eslintrc:

I get an error because prettier formats my code from

`!this.$store.getters[types.MODULE_NAMESPACE + 'getSomeStateById'](payload)`

to

`!this.$store.getters[`
`         types.MODULE_NAMESPACE + 'getSomeStateById'`
`       ](payload)`

I am not sure, but it seems to me that the rule 'standard/computed-property-even-spacing' should be turned off.

Maybe my eslintrc is incorrect?

[2019-11-04 11:40] riteable opened #370 "Fastify major version update"
Fastify has been on version 2 for a while and it seems the generated template is compatible with it, so I think the version in the `_package.json` template can be update to the current version `^2.10.0`.

[2019-11-07 13:55] senky opened #371 "Error running cli"
Hello,
after running `npx create-nuxt-app <project-name>` I get this error:
[code]
I am running macOs Catalina 10.15.1 (19B88).

`ls` on `/Users/xx/Library/Preferences/sao-nodejs/` outputs:
[code]
I am not sure why it tries to open a weirdly suffixed json file. Is this anything on your side?

[2019-11-07 14:07] maxshuty commented on #184
I was on node `v8.12.0` and `npm 6.11.1`. I upgraded to node `v12.13.0` and npm `6.13.0` and the issues went away for me. I'm not sure if Yarn has anything to do with this but I decided to not use Yarn and it seemed to work.

[2019-11-09 22:57] #362 closed

[2019-11-09 23:00] #357 closed

[2019-11-09 23:10] clarkdo commented on #341
可以提供一下具体重现问题的步骤么？

[2019-11-09 23:11] clarkdo commented on #365
`^2.0.0` will always use the latest 2.x. 😸
@nuxtjs/vuetify is same and the module is using vuetify@2.x.

[2019-11-09 23:11] #365 closed

[2019-11-09 23:12] clarkdo commented on #367
I think current Nuxt.js doesn't support full functionalities of pnpm.
@pi0 Any idea about pnpm support ?

[2019-11-09 23:18] clarkdo commented on #368
create-nuxt-app doesn't use `libnpm`.

From your log, I can see this package `D:\Seafile\dev\dev-perso\node_modules\npm\lib\utils\metrics.js` is using `libnpm`, could you please confirm if it's your local npm ?

[2019-11-09 23:32] clarkdo commented on #371
This file is created by package `conf`, `conf` is used by [`sao`](https://github.com/saojs/sao) for string generator info and cache answers.

If you have more questions, I suggest creating an issue in sao.js and linked this one for more accurate answers.

[2019-11-10 09:36] Aperrix commented on #367
Yeah Nuxt doesn't support PNPM actually because it's necessary to use [--shamefully-hoist flag](https://pnpm.js.org/en/npmrc#shamefully-hoist) so that all dependencies of Nuxt are installed correctly

[2019-11-11 10:27] pi0 commented on #367
I agree. We plan to fix that hoist flag problem because we decided to stick with vue/webpack deps. But please wait until we change the core changes. So add option when we really support PNPM (again)

[2019-11-13 11:01] JoeSchr commented on #256
+1 :(

[2019-11-14 14:05] dneeleman commented on #295
Actually this is v1.9.0 for me.

[2019-11-18 08:56] zgayjjf opened #375 "Koa template is not compatible with @nuxt/typescript-build"
I created a koa template just now, and add typescript support according to [https://typescript.nuxtjs.org/guide/setup.html](https://typescript.nuxtjs.org/guide/setup.html).

However, when I run `npm run dev`, `.ts` files under `store/` haven't been loaded and updated, while `.js` files worked fine.

Then I changed `npm run dev` to `nuxt`, everything works fine.

[2019-11-18 18:31] mozaman opened #377 "Getting error on create-next-app"
Cant seem to install on Mac OS Catalina. Any help appreciated.

Getting the below:

`npm ERR! file sh
npm ERR! code ELIFECYCLE
npm ERR! errno ENOENT
npm ERR! syscall spawn
npm ERR! fibers@4.0.2 install: `node build.js || nodejs build.js`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the fibers@4.0.2 install script.
npm ERR! This is probably not a problem with npm. There is likely additional lo

[2019-11-18 20:18] mozaman commented on #377
Solved by updating node to latest version

[2019-11-18 20:18] #377 closed

[2019-11-19 14:54] Chieftl opened #378 "Support for Pug templates"
I'm using Nuxt in most projects, but I'm using Pug template engine too, together, it this very useful.
I think it will be very good option if it will be possible to add Pug template engine during create-nuxt-app installation.
Also in this case will be great if boilerplate contain Pug templates from the scratch.

[2019-11-20 12:21] DerekHill commented on #274
I recently created a new nuxt app using `npx create-nuxt-app` and got these prettier warnings.

This install included `"eslint-config-prettier": "^4.1.0"` per https://github.com/nuxt/create-nuxt-app/blob/18740f86eb2afd3226d277b42000e6ab21e94deb/template/_package.json#L136

Updating this to eslint-config-prettier to ^6.7.0 seemed to fix the issue.

[2019-11-21 16:34] Flashantik opened #379 "SyntaxError with jsconfig.json development tools"
When creating npx project create-nuxt app
At the last step, when choosing jsconfig.json in development tools, we get the error

? Project name test
? Project description
? Author name Flashantik
? Choose the package manager Npm
? Choose UI framework Vuetify.js
? Choose custom server framework Express
? Choose Nuxt.js modules Axios, Progressive Web App (PWA) Support
? Choose linting tools ESLint, P

[2019-11-24 19:26] clarkdo commented on #379
Hi @Flashantik , I tried as your selections, but I can't reproduce the error, could you please provide more details about the error ?

[2019-11-25 06:34] itgelo opened #382 "Application doesn't work"
I have tried creating a new project with `npx create-nuxt-app name-project` command.

`npm run dev`

I have tried with or without UI framework / server framework and I have tried changing UI framework and server framework the results are not working well.

[2019-11-25 13:59] alxrb commented on #382
I was having a similar issue with setting up a project. Everything would work up until running `npm run dev` on the project. The client bundle wouldn't load and the site wouldn't show.

There seems to be a problem with selecting **StyleLint** in the "Choose linting tools" step of the project setup. When I didn't pick this linting option everything worked.

@itgelo Are you also selecting linting to

[2019-11-25 20:38] LukeP1 opened #383 "Error when building new app"
I am getting this error when trying to create a new nuxt app

`node -v
v12.13.1`

` npx create-nuxt-app ui-dev2
internal/modules/cjs/loader.js:800
    throw err;
    ^

Error: Cannot find module '/root/.npm/_npx/26147/lib/node_modules/create-nuxt-app/node_modules/ejs/postinstall.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:797:15)
    at Function.Module._load (intern

[2019-11-26 03:13] itgelo commented on #382
@alxrb you are right, after uncheck StyleLint everything works fine.
so what's up with StyleLint?

[2019-11-26 03:52] theNewWave commented on #383
I got a similar error.
In my case, after creating-nuxt-app and doing npm run dev, the client is not built.
I am also using node v 12.13.

[2019-11-29 10:24] bm-stschneider commented on #382
the `stylelint.config.js` needs a rules property in order to work.

[code]

[2019-11-29 11:09] #382 closed

[2019-11-30 00:50] munierujp opened #388 "Define stylelint default config like @nuxtjs/eslint-config and use it"
## My idea
`index.js` of @nuxtjs/stylelint-config:

[code]

`template/_stylelint.config.js` of create-nuxt-app

[code]

[2019-11-30 18:09] mojighahar opened #391 "Adonis wildcard error handler not works"
I use this command with following choices for creating an application with nuxt and adonis:
[code]
[code]
After that I add a new wildcard error handler with this command:
[code]
[code]
Then I edit the handler function of this file that print something in terminal when it called.
but nothing displayed in terminal when an unhandled error occured and default error page displayed.

I try this in a pur

[2019-11-30 20:33] benmwendwa opened #392 "Nuxt.js appl not compiling client"
### Version

[v2.10.2](https://github.com/nuxt.js/releases/tag/v2.10.2)

### Reproduction link

[https://github.com/benmwendwa/nuxt-app.git](https://github.com/benmwendwa/nuxt-app.git)

### Steps to reproduce

I've been working with vue for a while but it is mu first time trying NuxtJs
I'm using macbook pro, macOS catalina v10.15.1

Create a new app `npx create-nuxt-app test-app`
? Choose the pack

[2019-12-02 12:01] molvqingtai commented on #392
The same problem, I removed stylelint and finally it works.

[2019-12-03 14:42] xgqfrms commented on #274
# what's wrong with this?

![image](https://user-images.githubusercontent.com/7291672/70060403-702bc200-161d-11ea-96f0-8ebb7c73a5e8.png)

[2019-12-03 15:07] clarkdo commented on #274
From the console, errors look like related to indentation.

@xgqfrms I'll open a pr to fix this.

[2019-12-03 15:11] xgqfrms commented on #274
@clarkdo I think it should be a warning, not an error which will be broken the app, that's not too good for the beginner.

[2019-12-03 16:58] clarkdo commented on #274
As I mentioned above, I'll open a pr to fix this, there should have no error in this file 😃

[2019-12-05 06:55] smoonsf commented on #375
https://github.com/nuxt/typescript/issues/215

I experience simular issue. You should change your server js code to execute `await nuxt.ready();` always.

And it should be fixed to whole server js file template to execute `await nuxt.ready();` in this repo

[2019-12-06 09:28] wlinglinux opened #396 "Why not extract the threejs framework using splitchunks.cachegroups"
nuxt.config.js

build: {
optimization: {
      splitChunks: {
        chunks: 'all',//all initial async
        // minChunks: 5,
        cacheGroups: {
          three: {
            test: /node_modules[\\/]three/,
            chunks: 'all',
            priority: 100,
            name: true
          },
}
![image](https://user-images.githubusercontent.com/286261/70312006-b4050e00-184d-11ea-9617-f3

[2019-12-06 18:40] webistomin commented on #378
Good idea!

[2019-12-09 07:23] tarunama opened #397 "Why vuetify logo does not support retina display ?"
### Expected
vuetify logo image size 360px × 360px

### Actually
<img width="989" alt="スクリーンショット 2019-12-09 16 19 59" src="https://user-images.githubusercontent.com/6047881/70415462-03db1380-1aa0-11ea-8da7-aebabc8fa9cd.png">

[2019-12-09 08:46] cagataycivici opened #398 "Add PrimeVue as an option for the UI Component Library"
We'd appreciate if PrimeVue can be added as an option for the UI Component Library;

https://www.primefaces.org/primevue/#/

[2019-12-12 07:34] rajeshdh commented on #274
Adding
[code]
to my `package.json` file fixed it for me.

Now running `npm run lintfix ` fixes all the errors.

[2019-12-12 12:31] felek000 commented on #383
I have same problem when running on docker.

[2019-12-14 14:07] dosstx commented on #274
The above issue fixed it for me, too. Thanks.

[2019-12-17 12:36] eclectic-coding opened #399 "Request to update prettier"
I am suggesting and requesting that the installed version of Prettier to be updated to `1.19.0` minimum. With this version `vueIndentScriptAndStyle` was added to address issues related to #101
Also, it might be helpful to add the following to `prettierrc` or at least a reference in the documentation:
`"vueIndentScriptAndStyle": true`

For reference [Prettier 1.19: Long awaited Vue option](https://

[2019-12-17 22:24] Blemming commented on #33
Nuxt has updated their documentation with
![image](https://user-images.githubusercontent.com/12241815/71039337-e9351a00-20f1-11ea-9497-008112b1e591.png)
Should we be building in development ? Given the build dependencies are installed in the dev depencies ( even when choosing universal app ) Does it make more sense to build on the development machine ?

[2019-12-17 23:56] baptistecs commented on #274
For me the issue was the VS Code config, I have had to set:
`"vetur.format.defaultFormatter.html": "prettier"`
instead of the default value:
`"vetur.format.defaultFormatter.html": "prettyhtml"`

[2019-12-18 13:15] kleyton885 commented on #383
error while trying to install nuxt on ubuntu 16.04
command: npx create-nuxt-app <project-name>

module.js:328
    throw err;
    ^

Error: Cannot find module '/root/.npm/_npx/11123/lib/node_modules/create-nuxt-app/node_modules/ejs/postinstall.js'
    at Function.Module._resolveFilename (module.js:326:15)
    at Function.Module._load (module.js:277:25)
    at Function.Module.runMain (module.js:442:

[2019-12-26 06:27] yymoretime commented on #371
`rm -rf /Users/${your_user_name}/Library/Preferences/sao-nodejs`
works for me

[2019-12-26 18:37] yairEO commented on #256
Anyone knows (maybe @shirohana) why, when importing ant to Nuxt like so:

[code]

AntD css-reset is being applied **after** all my app's css.. it's very annoying, because it overrides some of my stuff, like `body{ font-size... }`

I am running a very initial Nuxt app with not much in it.

[2019-12-27 09:59] Maxiride commented on #383
Same error:
[code]

[2020-01-14 11:36] cmaneu commented on #383
Same issue here:
- Using from a docker container (VS Code Remote Extensions)
- running `npm i -g create-nuxt-app` solved it.

[2020-01-14 13:34] ankitarora05 commented on #293
https://gamecom.app/

I created a website on nuxt and have a infinite loader on the feed on the landing. Gives me great performance using vue and server render. Any thoughts?

FYI you have to login to enjoy the feed :-p

[2020-01-14 13:34] ankitarora05 commented on #308
https://gamecom.app/

I created a website on nuxt and have a infinite loader on the feed on the landing. Gives me great performance using vue and server render. Any thoughts?

FYI you have to login to enjoy the feed :-p

[2020-01-14 13:35] ankitarora05 commented on #383
https://gamecom.app/

I created a website on nuxt and have a infinite loader on the feed on the landing. Gives me great performance using vue and server render. Any thoughts?

FYI you have to login to enjoy the feed :-p

[2020-01-14 13:35] ankitarora05 commented on #369
https://gamecom.app/

I created a website on nuxt and have a infinite loader on the feed on the landing. Gives me great performance using vue and server render. Any thoughts?

FYI you have to login to enjoy the feed :-p

[2020-01-15 09:00] jamesgeorge007 opened #406 "[Feature Request]: Notify users if they're using an older version"
Users may not be aware about any newer releases being made and would end up using the older versions.

[update-notifier](https://www.npmjs.com/package/update-notifier) serves the purpose here. As from the tagline, `Inform users of your package of updates in a non-intrusive way`.

[2020-01-15 23:06] clarkdo opened #407 "Upgrade lint-stages to latest version"

[2020-01-20 08:02] Rakesh-webdeveloper opened #411 "typescript linting issue with nuxt typescript"
I added the typescript to the nuxt js. But I got some linting issue,
I created a testComponent.vue page
I copied the same data from the site
https://typescript.nuxtjs.org/cookbook/components/#template
while I run npm dev I got linitng issue
**Repo link:* https://github.com/Rakesh-webdeveloper/nuxt-app.git
pls download the and run the npm run dev. You will see the issue
<template>
  <div>Name: {{ f

[2020-01-20 08:36] Rakesh-webdeveloper opened #412 "TypeError Cannot read property 'firstName' of undefined"
}
  },

  computed: {
    fullName(): string {
      return `${this.user.firstName} ${this.user.lastName}`
    }
  }
})
</script>

I added the typescript to nuxt project
I added this script i got this issue
https://typescript.nuxtjs.org/cookbook/components/#template

[2020-01-25 04:57] rotcl commented on #398
Haven't you tried importing as a plugin _a la carte_ [like this?](https://gist.github.com/rotcl/9bcf78dc03c9ad88c99ce72135ae1158)
Then just add in _nuxt.config.js_ this:
`plugins: [{ src: '~/plugins/primevue', ssr: false }],`
And voila, PrimeVue working on Nuxt, then you can just filter the imports and components as you need.
At least this will work as a first aproach to Nuxt + Primefaces.

[2020-01-25 08:50] bsienn opened #417 "project creation warning of dead libraries, please fix"
popper.js@1.16.1: Popper changed home, find its new releases at @popperjs/core
npm WARN deprecated core-js@2.6.11: core-js@<3 is no longer maintained and not recommended for usage due to the number of issues. Please, upgrade your dependencies to the actual version of core-js@3

[2020-01-31 10:20] kubilaypeksen opened #418 "--answers <json> doesn't work"
i am trying any variation and the result error is any time same...

![Bildschirmfoto 2020-01-31 um 11 08 59](https://user-images.githubusercontent.com/19491631/73531759-6e169180-441b-11ea-957a-183f031edef2.png)

[2020-02-01 05:55] vinayakkulkarni commented on #406
if you use `npx` instead of globally installing `npm i -g create-nuxt-app` & use `create-nuxt-app <app>`, wouldn't `npx` already pull the latest version of cna and scaffold a project for you?

[2020-02-01 14:58] jamesgeorge007 commented on #406
Yeah, good point. But, consider this scenario if a user has installed `CNA` globally so that he can scaffold `Nuxt.js` projects anytime he wishes for without needing to install the package again. There is a chance that he/she might not be aware of a newer release. This is where `update-notifier` comes handy.

[2020-02-02 12:29] jamesgeorge007 commented on #406
\cc @clarkdo @Atinux

[2020-02-02 13:01] clarkdo commented on #406
@jamesgeorge007 Thanks, I'll have a look at this request

[2020-02-02 13:05] jamesgeorge007 commented on #406
Can I work on this?

[2020-02-02 13:14] clarkdo commented on #418
As `saojs` is using `JSON.parse`, so a strict json format with full prompts answers is needed, like

[code]

[2020-02-02 13:14] #418 closed

[2020-02-02 13:41] clarkdo commented on #417
As latest Nuxt.js is using core-js v2 by default, so this issue will be fixed after https://github.com/nuxt/nuxt.js/pull/6721 gets merged and released.

[2020-02-02 13:42] #417 closed

[2020-02-02 13:43] clarkdo commented on #406
I think so, but let ask if @Atinux and @pi0 have any thought.

[2020-02-03 09:47] cwilby commented on #256
Use `import { Button } from 'ant-design-vue/lib';` to fix the "Unexpected token {" error.

Source: https://stackoverflow.com/questions/53146624/import-ui-library-modularized-in-nuxtjs

[2020-02-04 02:06] yelskiy opened #421 "Testing newly generated app fails with "No tests found in test/ava.setup.js""
Is there additional configuration needed to run initial tests?

After generating a new app
[code]
Running a test results in an error complaining of missing tests
[code]

[2020-02-04 06:40] JairBear opened #422 "Newly generated nuxt app fails with core-js and fibers errors"
ubuntu 18.04

making a nuxt app has never been a problem before, suddenly im getting core-js and fibers errors.

myself@myself:~/Documents$ nodejs -v
v13.7.0
myself@myself:~/Documents$ npm -v
6.13.6
myself@myself:~/Documents$ npx -v
6.13.6
myself@myself:~/Documents$ npx create-nuxt-app test-app

create-nuxt-app v2.12.0
✨  Generating Nuxt.js project in test-app
? Project name test-app
? Project des

[2020-02-04 17:53] MathieuDerelle opened #423 "why are dev dependencies needed at runtime ?"
I've created a fresh new project today with `npx create-nuxt-app xxx`

It was impossible to deploy it to heroku.
(It builded correctly but crashed on server start)

Multiple errors were thrown one after the other

1. `Error: Cannot find module 'vuetify/es5/util/colors'`
=> solved by moving `@nuxtjs/vuetify` to dependencies
2. `Error: Cannot find module '@nuxtjs/eslint-module'`
=> solved by moving

[2020-02-04 17:55] MathieuDerelle commented on #423
I've created a repo to show the issue and the fixes
https://github.com/MathieuDerelle/issue-create-nuxt-app/commits/master

[2020-02-04 19:46] JairBear commented on #422
Closing issue as it is already opened here: https://github.com/nuxt/create-nuxt-app/issues/184

[2020-02-04 19:46] #422 closed

[2020-02-05 20:14] kiri2lov commented on #388
npm install stylelint-config-standard --save-dev

then add following line to stylelint.config.js

"extends": "stylelint-config-standard"

[2020-02-09 22:24] #407 closed

[2020-02-09 22:39] clarkdo commented on #399
Resolved in v2.14.0

[2020-02-09 22:39] #399 closed

[2020-02-09 22:40] clarkdo commented on #421
Can you try with v2.14.0 which has updated to ava v3 ?

[2020-02-09 23:20] yelskiy commented on #421
Hi @clarkdo !  I just updated to v2.14.0, and tested again, but got pretty much the same result.

[code]

I did confirm that v3 of ava got installed

[code]

[2020-02-09 23:21] clarkdo commented on #421
cc @vinayakkulkarni

[2020-02-10 01:38] vinayakkulkarni commented on #421
I'll take a look.

[2020-02-10 12:24] clarkdo commented on #388
cc @ricardogobbosouza

[2020-02-10 13:38] ricardogobbosouza commented on #388
I agree that we should have **@nuxtjs/stylelint-config** however simple it may be!
What do you think @clarkdo? Could we have this repository at https://github.com/nuxt/stylelint-config?

[2020-02-10 13:40] clarkdo commented on #388
Can we add a package in https://github.com/nuxt/eslint-config/tree/master/packages ? If it's necessary, we can even rename the repo to `lint-config`

[2020-02-10 14:19] ricardogobbosouza commented on #388
Much better :smile:
I can create a PR added stylelint-config

[2020-02-10 14:24] ricardogobbosouza commented on #388
It would be nice to know the team's opinion, wouldn't it?

[2020-02-10 14:43] munierujp commented on #397
Vuetify logo is [here](https://github.com/nuxt/create-nuxt-app/blob/master/template/frameworks/vuetify/static/v.png).
You can replace it.

[2020-02-10 17:19] clarkdo commented on #388
cc @nuxt/core-team

[2020-02-12 00:26] manegame opened #427 "[Feature Request] Pull in user template"
Hi everyone,

I always initiate a project with

1. a certain meta config
2. a bunch of plugins
3. some style assets
4. a couple of layouts
5. a bunch of components
6. A headless CMS connection

I've been using this tool to much delight, and I thought it would be supercharged if one could integrate their own template projects already. Is this somehow possible?

Being the noobish programmer I am, I

[2020-02-13 17:58] colinmollenhour commented on #423
I have also found that I cannot build the production server with `yarn install --production` and I have to instead use `yarn install` or else I get dependency issues about eslint.

[2020-02-16 06:15] carlos-avila commented on #78
Created #430 to start addressing this issue.

[2020-02-16 06:49] carlos-avila opened #432 "[Feature] Support for imagemin"
Created #431 to add imagemin.

[2020-02-16 14:07] Abdulla1995 commented on #256
@yairEO here is the solution. https://www.antdv.com/docs/vue/getting-started/#Import-on-Demand
Add these before of your css files.

[2020-02-18 16:39] dholladay commented on #423
I think this error only happens with Express server, and it's an issue upstream with Nuxt, [on this line](https://github.com/nuxt/nuxt.js/blob/19fd3e4932eaae1a696ca37fd039a0ae44f18cdb/packages/core/src/module.js#L19)
The hack to get around the issue is to add:
`nuxt.options._start = true`
Right before `await nuxt.ready()`  in your server/index.js [here](https://github.com/MathieuDerelle/issue-crea

[2020-02-18 16:58] #421 closed

[2020-02-23 19:32] Xandmore commented on #184
I had the same problem. It disappeared after installing:
node: 12.16.1
npm: 6.13.7

[2020-02-24 13:43] balexandre opened #437 "Generator does not work out-of-the-box with Vuetify"
Just to inform those who are maintaining this amazing tool.

On my attempt to create a default project so I can see what I'm doing wrong when [deploying to Heroku](https://nuxtjs.org/faq/heroku-deployment/) the website can't reach my custom [serverMiddleware](https://nuxtjs.org/api/configuration-servermiddleware/) :(

run on Windows 10, my options to generate the site

[code]

the generator log

[

[2020-02-29 21:28] ngblaylock opened #439 "README.md file incorrect"
### Version

[v2.11.0](https://github.com/nuxt.js/releases/tag/v2.11.0)

### Reproduction link

[https://github.com/ngblaylock/nuxt-sandbox](https://github.com/ngblaylock/nuxt-sandbox)

### Steps to reproduce

This is my first time submitting any issues, so please excuse me for any inconsistencies in your workflow.

When I run `npx create-nuxt-app <project name>` it automatically creates the READM

[2020-02-29 21:28] #439 closed

[2020-03-04 08:10] martixy opened #441 "Failed to install packages"
Wanted to try nuxt. Ran `yarn create nuxt-app nuxt-test`.

It did some stuff, and actually created the directory with some stuff in there, but then spit out the following error:
[code]

Environment:
Win10
Node v13.8.0
yarn v1.22.0

[2020-03-06 10:39] joffreyBerrier opened #442 "[Feature] - Include nuxt-start on configuration"
Add nuxt-start to nuxt configuration

=> nuxt-start in dependencies
=> nuxt start in dev-dependencies

[2020-03-09 08:56] climba03003 commented on #411
The Error Message already pointed the reason. As you can see the error message ```Cannot find name 'PropOptions'.```. That means you have not import the ```PropOptions``` in your code.

In line 13 of testPage.vue in your repo.
[code]

In Cookbook
[code]

[2020-03-09 10:54] Rakesh-webdeveloper commented on #411
Issue is fixed

[2020-03-09 10:54] #411 closed

[2020-03-09 10:54] Rakesh-webdeveloper commented on #411
Issue is fixed

[2020-03-10 10:19] tvld opened #443 "Serious bug: Today npx install and use of mdi-icons is broken with Vuetify"
Try running:
[code]
And look at the icons in the top left corner

![Screenshot from 2020-03-10 11-16-10](https://user-images.githubusercontent.com/986182/76302843-f745a180-62c0-11ea-8777-3bdd2c6df3ce.png)

Edit: have same issue with my normal app :-(

[2020-03-10 10:50] tvld commented on #443
It is fixed. Was some CDN issue it seem. Unrelated to Nuxt or Vuetify

[2020-03-10 10:50] #443 closed

[2020-03-10 17:47] jasenmichael opened #444 "[Feature Request] Example json using cli option --answers"
I have tried to figure out the structure of the json used with ```npx create-nuxt-app --answers <json>```

The [cli documentation](https://github.com/nuxt/create-nuxt-app#cli-options) does not show the --answers flag as an option.

but when I run ```create-nuxt-app --help```
I get

Would someone please show a working example usage please?
I have gotten this far..
[code]
I get an error
[code]

chee

[2020-03-10 21:44] jasenmichael commented on #444
ok got it
[code]
all answers are array or string, use valid json(using all double quotes) and surround with single quotes.

[2020-03-10 21:44] #444 closed

[2020-03-11 19:50] humbertoT2 opened #445 "Bootstrap Vue Components Not Working After NPM Run Generate"
### Describe the bug

Building a webpage with Nuxt JS and Bootstrap Vue—Navbar dropdown functionality works as expected in dev mode but does not work when generated to static files. Clicking a dropdown item does nothing in the static files but drops down properly in development mode.

Running npm run generate outputs expected static files with 0 errors but functionality is missing in navbar dropdo

[2020-03-12 02:39] aliveupstairs opened #446 "Default Stylelint config for TailwindCSS"
`stylelint` doesn't have default rules which is something the dev server complains about out of the box (https://github.com/nuxt/create-nuxt-app/issues/388).

Choosing `tailwindcss` as a UI framework, `stylelint` could have this config (which is one of the recommended configs by the community https://github.com/tailwindcss/discuss/issues/111) as default:

[code]

[2020-03-12 05:13] EunChan0817 commented on #441
The same problem.

[2020-03-13 05:57] EunChan0817 opened #447 "When creating a project, selecting Vuetify results in an error."
SAOError: Failed to install packages in ....

...

.config/yarn/global/node_modules/sao/lib/installPackages.js:108:15)
    at ChildProcess.emit (events.js:321:20)
    at maybeClose (internal/child_process.js:1026:16)
    at Socket.<anonymous> (internal/child_process.js:441:11)
    at Socket.emit (events.js:321:20)
    at Pipe.<anonymous> (net.js:668:12) {
  __sao: true
}

[2020-03-13 07:13] EunChan0817 commented on #184
I had the same problem.
node : 13.7.0
npm : 6.13.6

[2020-03-13 11:39] clarkdo commented on #446
@ricardogobbosouza  This may be a good idea for stylelint rules

[2020-03-13 11:39] clarkdo commented on #447
Duplicate of https://github.com/nuxt/create-nuxt-app/issues/441

[2020-03-13 11:39] #447 closed

[2020-03-13 11:42] clarkdo commented on #441
@martixy @EunChan0817 Can you please provide the choices of your installing ?

[2020-03-13 11:45] clarkdo commented on #445
cc @pi0

[2020-03-13 11:46] clarkdo commented on #437
cc @kevinmarrec

[2020-03-13 11:54] ricardogobbosouza commented on #446
@clarkdo Yeap, it's a good idea

[2020-03-13 11:55] ricardogobbosouza commented on #446
We are still waiting for a team position https://github.com/nuxt/create-nuxt-app/issues/388#issuecomment-584127322

[2020-03-13 12:38] martixy commented on #441
What the heck? Why close and then ask for information?

Package manager: Yarn
UI Framework: Vuetify
Server framework: None
Nuxt modules: PWA support
Linting tools: ESLint
Test framework: Jest
Rendering mode: SSR
Dev tools: JS Config

[2020-03-13 12:41] clarkdo commented on #441
I closed the duplicate issue and track it in one.
Is there any problem as you’ve mentioned they’re same problem?

[2020-03-13 12:44] martixy commented on #441
Ah. My bad. It looked like you closed this issue for a bit. Sorry.

[2020-03-13 12:46] clarkdo commented on #441
No worries, I’ll prioritize and look into the issue, thanks for the reporting

[2020-03-13 20:25] #423 closed

[2020-03-16 08:35] overbid commented on #184
`sudo apt-get install g++ build-essential`
Before create project is work for me.

[2020-03-16 08:36] overbid commented on #441
`sudo apt-get install g++ build-essential`
Before create project is work for me.

[2020-03-17 13:35] pi0 commented on #388
As style-lint highly depends on project and UI framework does it makes sense / is possible to create general-purpose a preset? (#466 for example) AFIK `@nuxt/eslint-config` was initially refactored out of core repo to make maintenance easier and also shared across all official and community modules. It is also usable for nuxt project as they usually have shared requirements.

[2020-03-18 09:45] WhiteBetting commented on #371
Finally, I've found this. You save me. Thanks bro

[2020-03-18 09:49] manniL commented on #371
Closing here then ☺️ if the comment from @yymoretime resolves the issue.

[2020-03-18 09:49] #371 closed

[2020-03-18 12:25] davelsan opened #448 "[Fix/Feat] Improvements to recently merged typescript-build support"
I'd like to raise an issue here, for future reference, about a few improvements that I think could be made after the recently merged PR #328.

I have created a new app with the below typescript support options and these are the things I found that (IMHO) can be fixed or improved.

[code]

## Fixes

#### [Fix] File XXX is not a module (Vetur error)

This has been reported in vuejs/vetur#1187 and vu

[2020-03-19 10:53] ProwlElement commented on #441
I have the same issue here.
@overbid what is sudo apt-get install g++ build-essential going to do?

Cheers,
S

[2020-03-19 10:57] overbid commented on #441
Install package builder for font in vuetify. I use yarn.

On Thu, Mar 19, 2020, 17:53 Sean Corcoran <notifications@github.com> wrote:

[2020-03-19 11:06] ProwlElement commented on #441
Ah sorry I use tailwind myself im not sure if this is the issue.

My setup is slightly different but error is the same.

Is this a sudo thing maybe?

my error:

/Users/prowl/.npm/_npx/42099/lib/node_modules/create-nuxt-app/node_modules/sao/lib/installPackages.js:108
        throw new SAOError(`Failed to install ${packageName} in ${cwd}`)
        ^

Error: Failed to install packages in /Users/prowl

[2020-03-19 11:08] overbid commented on #441
I have same error when use create-nuxt-app but if using yarn it's ok.

On Thu, Mar 19, 2020, 18:06 Sean Corcoran <notifications@github.com> wrote:

[2020-03-19 11:09] ProwlElement commented on #441
I have heard

npm install --global --production windows-build-tools works on windows

also someone saying you need to install python but I am not sure yet.

I am using yarn, I will try a few other configs to troubleshoot cheers.

S

[2020-03-19 11:10] ProwlElement commented on #441
i used npx to create-nuxt-app actually

[2020-03-19 11:11] overbid commented on #441
I'm already install python3 too.

On Thu, Mar 19, 2020, 18:09 Sean Corcoran <notifications@github.com> wrote:

[2020-03-27 07:25] chavyleung commented on #441
same error

[2020-03-27 10:47] shivgarg5676 commented on #441
any update here? I am facing the same error as well.

[2020-03-27 10:57] clarkdo commented on #441
@chavyleung @shivgarg5676 Could you provide the steps you reproduce this issue ? It would be very helpful for us to locate the root casue,  thanks in advance.

[2020-03-27 11:04] ProwlElement commented on #441
upgrade node and yarn to latest versions

yarn create nuxt-app <your-project-name>

Simple but worked for me :)

[2020-03-27 11:06] ProwlElement commented on #441
yarn create nuxt-app [your-project-name]

[2020-03-27 11:11] clarkdo commented on #441
@ProwlElement I'm using node 13 and yarn 1.22, the error doesn't happen to me, is there anything else I need to be aware ?

[2020-03-27 11:14] shivgarg5676 commented on #441
I tested using the latest versions of node. node v12.16.1 and v13.12.0. The command I used was ``` npx create-nuxt-app nuxt-css ```

this is the error log
![image](https://user-images.githubusercontent.com/6873680/77750670-3d815b80-704a-11ea-965f-677a16711b44.png)

[2020-03-27 11:17] clarkdo commented on #441
@egoist From the stacktrace, it seems to be related to saojs, do you have any idea ?

[2020-03-27 11:23] shivgarg5676 commented on #441
Yea, it seems like related to Sao js, but nuxt should take care of this thing as well. At least it should make sure if a user is using everything latest things should work smoothly.

[2020-03-27 11:28] clarkdo commented on #441
@shivgarg5676 I understood you point, since I can't reproduce in my local, so the issue may be related to some local os or lib installations, I'm just asking if @egoist has any idea or experience about this issue.

![image](https://user-images.githubusercontent.com/4312154/77751481-b7e7b680-701d-11ea-831c-2ec7c4ec10ef.png)
![image](https://user-images.githubusercontent.com/4312154/77751500-c1711e8

[2020-03-27 11:30] chavyleung commented on #441
UI Framework: Vuetify

Vuetify，Vuetify，Vuetify
only Vuetify

[2020-03-27 11:32] shivgarg5676 commented on #441
After your comment, I deleted my npm cache using `npm cache clean --force`. Then things worked. Thanks a lot!!. Sorry for wasting your time on my machine specific issue.

[2020-03-27 11:33] clarkdo commented on #441
@chavyleung Still can't reproduce and @shivgarg5676 is not installing vuetify as well.
![image](https://user-images.githubusercontent.com/4312154/77751990-a05cfd80-701e-11ea-951a-f3d9cc5266d5.png)
![image](https://user-images.githubusercontent.com/4312154/77752049-b8348180-701e-11ea-95fc-90038623af8d.png)

[2020-03-27 11:35] clarkdo commented on #441
@shivgarg5676 If you can reproduce it steadily again, please just let me know, I appreciate you very much about all the helpful info you provided, I hope we can find root cause and fix it.

[2020-03-27 14:33] chavyleung commented on #441
without`npm cache clean --force`
<img width="970" alt="iShot2020-03-2722 31 09" src="https://user-images.githubusercontent.com/29748519/77766658-e8aa0900-707a-11ea-8575-f19f2a53de6f.png">
<img width="970" alt="iShot2020-03-2722 31 24" src="https://user-images.githubusercontent.com/29748519/77766687-f52e6180-707a-11ea-93e2-e28366f4a9b3.png">

[2020-03-27 14:35] chavyleung commented on #441
[code]

[2020-03-27 14:37] clarkdo commented on #441
@chavyleung From you screenshot, it seemed your env is lack of some os tools (g++ build-essential ...).

https://github.com/nuxt/create-nuxt-app/issues/441#issuecomment-599409533 from @overbid should be helpful.

![image](https://user-images.githubusercontent.com/4312154/77766974-4c5f1280-7038-11ea-9b9b-03829f7e1a5e.png)

[2020-03-27 15:04] chavyleung commented on #441
Thanks, its work for me

https://github.com/nodejs/node-gyp/blob/master/macOS_Catalina.md#The-acid-test

[2020-03-28 04:29] egoist commented on #441
That's a yarn/npm install issue, check yarn/npm error log for details

[2020-03-28 21:42] NickBolles commented on #448
Nice. I had done some of this in my PR to the original dev before merging here: https://github.com/ChangJoo-Park/create-nuxt-app/pull/1
and now here
https://github.com/nuxt/create-nuxt-app/pull/449

I'll look at the differences, maybe I can leave the component updates that I've done and this PR can handle the more core stuff

[2020-03-28 22:13] davelsan commented on #448
Yes, it spreads a bit too much for a single issue, but I thought some points needed a bit of discussion before considering a PR. For example:

- The `vetur` error should probably be handled in their repository, so the suggested fix is more likely just a workaround.
- The proposed changes to `eslint` indentation rules need a bit of attention too, especially the reason why script-indent is being add

[2020-03-28 22:40] NickBolles commented on #448
`The vetur error should probably be handled in their repository, so the suggested fix is more likely just a workaround.`
I don't think this is possible. Plus the official recomendation for @nuxtjs/typescript is to create the `vue-shims.d.ts` [documentation](https://typescript.nuxtjs.org/guide/setup.html#configuration). This is included in my PR.

I'm working on the other parts of the PR right now.

[2020-03-29 01:19] davelsan commented on #448
Good stuff! I'm closing this issue in favor of #449. We can continue the discussion there.

[2020-03-29 01:19] #448 closed

[2020-03-31 16:24] tr1s commented on #101
I'm having similar issues.. at a very specific point the code hits the printWdith dead on, it will try to format and then go back to normal. Never resolving the error. :/

[2020-04-03 15:14] Strahinja opened #455 "Vuetify hangs on custom error page in statically generated project"
# Steps to reproduce

1. `yarn create nuxt-app errtest`

[code]

2. `cd errtest`
3. Edit `nuxt.config.js` (add after `build` section):
[code]
4. I used Apache local virtual server named `http://errtest`. Edit `static/.htaccess`:
[code]
5. `yarn generate`
6. Navigate to `http://errtest` (works), then for example to `http://errtest/nonexistant`. Custom error page is shown with the text "404 Not Foun

[2020-04-04 20:08] enbermudas opened #456 "Setting adonis server with the api-only flag"
Is there a way to create a new project by setting the configuration that the adonis cli `api-only` flag provides? Selecting adonisjs as the integrated server, of course.

Edit: if the is no way to set up the project creation like that then... How do I make request to the integrated server after making the configurations required to have a RESTful API.

[2020-04-05 11:10] #441 closed

[2020-04-05 13:04] clarkdo commented on #370
fastify has been updated to v2 by https://github.com/nuxt/create-nuxt-app/commit/952230b1227da7b05182667385eaabc4e3127281, this change will be valid in next release

[2020-04-05 13:05] #370 closed

[2020-04-06 19:43] #456 closed

[2020-04-07 23:15] adrianoresende commented on #406
With `npm i -g create-nuxt-app` & `create-nuxt-app client` or `npx create-nuxt-app client`
It was generated like this:

![image](https://user-images.githubusercontent.com/798755/78727944-6b995200-790c-11ea-8462-82723acc9a2f.png)

Several outdated versions, that's right?

[2020-04-08 08:56] manniL commented on #406
Because your globally installed version of `create-nuxt-app` is outdated.

I recommend to use `npx` all the time and not installing it via `npm -g`. Otherwise that version will be used all the time and has to be kept up to date via `npm update -g`

[2020-04-08 17:08] debs-obrien opened #461 "warning for package names with spaces or auto add dashes"
When creating your app if you use a package name with spaces you don't get the warning until you have answered all the questions and then are left frustrated as your app can't be built because you added a name with a space which is not allowed. this warning should come right at the very moment you enter or better still dashes added automatically so it is something you don't have to deal with.

<im

[2020-04-09 12:46] lambda0xff opened #464 "Typescript: when using jest for tests, @types/jest should be included"
`@types/jest` should be included in `tsconfig.json`'s `types` array
and the library should be pulled as a dependency

[2020-04-09 19:01] lambda0xff opened #465 "Typescript: project should include a definition file for files with .vue extension"
Projects using typescript should include a definition file:
vue-shim.d.ts

[code]

this allows importing `.vue` modules inside `.ts` files ( for unit tests for instance)

[2020-04-09 21:42] Atinux commented on #465
Let’s see what @kevinmarrec thinks about this :)

[2020-04-09 21:43] kevinmarrec commented on #465
It's mentionned in documentation : https://typescript.nuxtjs.org/guide/setup.html#configuration

[2020-04-09 21:48] lambda0xff commented on #465
Documentation ... who has time to read them ? 😁😜

More seriously, why not add that file directly when typescript is selected ?

[2020-04-09 21:51] kevinmarrec commented on #465
Oh yeah nvm it should be indeed added by CNA :)

[2020-04-11 12:39] kevinmarrec commented on #23
Implemented in #328

[2020-04-11 12:39] #23 closed

[2020-04-11 12:47] kevinmarrec commented on #437
@balexandre Is this still an issue ?

[2020-04-11 12:51] kevinmarrec commented on #375
Since **2.12** there's a new approach to use Nuxt.js programatically : https://nuxtjs.org/api/nuxt

If you still have an issue, please open an issue here : https://github.com/nuxt/typescript/issues

[2020-04-11 12:51] #375 closed

[2020-04-11 14:37] balexandre commented on #437
@kevinmarrec just tested once more, all good!

the only change is that Edge Chromium is now `Version 81.0.416.50` and some npm packages that have updated in the meanwhile...

[2020-04-11 14:47] #437 closed

[2020-04-11 15:36] vinayakkulkarni commented on #406
The @vue/cli already has feature like this:
<img width="337" alt="Screenshot 2020-04-11 at 9 05 39 PM" src="https://user-images.githubusercontent.com/19776877/79048100-4a03d780-7c38-11ea-9051-fcd2df2ed6dd.png">

[2020-04-11 19:15] kevinmarrec commented on #412
You were probably missing something in your `.vue` file, I don't have any issue here :

![image](https://user-images.githubusercontent.com/25272043/79052764-02ca1680-7c39-11ea-9802-812f86750f73.png)

Please open an issue on https://github.com/nuxt/typescript if you have a repository with reproduction, thanks.

[2020-04-11 19:15] #412 closed

[2020-04-13 10:02] JenCant commented on #383
Getting this error on a new app install, debian 10:

` npx create-nuxt-app
internal/modules/cjs/loader.js:638
    throw err;
    ^
Error: Cannot find module '/root/.npm/_npx/2723/lib/node_modules/create-nuxt-app/node_modules/ejs/postinstall.js'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at

[2020-04-14 14:19] munierujp opened #470 "TypeScript: Create nuxt.config.ts instead nuxt.config.js"
@nuxt/types package provides type definition for Nuxt configuration.

[Configuration (Runtime) | Nuxt TypeScript](https://typescript.nuxtjs.org/cookbook/configuration.html)

I think that project with TypeScript should use `nuxt.config.ts` instead `nuxt.config.js`.

[2020-04-15 15:45] fabiofdsantos commented on #470
I also have these related errors:
[code]

[2020-04-16 09:00] FallenNoir commented on #184
It seems like yet another problem solved by dancing around changing the node version. In my case it wouldn't install on node 10.5.0 (was installed by default in Laragon) and went pretty smooth with 12.16.2. ¯\_(ツ)_/¯

[2020-04-19 14:15] munierujp opened #485 "Run `eslint` instead `<%= pmRun %> lint` on pre-commit hooks"
When `*.{js,vue}` file is going to commit, husky runs `<%= pmRun %> lint` as pre-commit hooks. (e10fe52)
It is redudant because `lint` script (`eslint --ext .js,.vue --ignore-path .gitignore .`) runs ESLint for all `.js` or `.vue` files.
I think that `"*.{js,vue}": "eslint"` works well.

Is there some reason for the current Implementation?

[2020-04-20 01:40] joshuadabejero commented on #441
I got error both yarn and npm!

![image](https://user-images.githubusercontent.com/29270980/79706157-da9e7f80-82ea-11ea-9122-0697201958af.png)

Please help, thank you! Last time yarn is working but now. Both NPM and YARN having same issues.

[2020-04-20 23:11] clarkdo commented on #485
fixed by https://github.com/nuxt/create-nuxt-app/commit/91339542f6cb249e3ef3abe2445227a15d58480d

[2020-04-20 23:11] #485 closed

[2020-04-21 12:31] munierujp opened #490 "Suggest: Run alll linters by using npm-run-all on lint script"
Run alll linters by using [npm-run-all](https://www.npmjs.com/package/npm-run-all) on `lint` script.

like this:

[code]

`lint` script runs all `lint:*` scripts  (in this case, `lint:js` and `lint:css`) in parallel.

![スクリーンショット 2020-04-21 21 33 57](https://user-images.githubusercontent.com/20086673/79866544-e8055800-8417-11ea-8c87-56727a9354f8.png)

Project author also can add other linter.

[co

[2020-04-24 11:41] Anas-Alwindawee commented on #441
Hi I have the same issue on WSL Ubuntu LTS, node  v12.16.2, npm v6.14.4, below was my choices and the errors I get,

anas@DESKTOP-VENR4M1:~$ npx create-nuxt-app test-nuxt

create-nuxt-app v2.15.0
✨  Generating Nuxt.js project in test-nuxt
? Project name test-nuxt
? Project description My posh Nuxt.js project
? Author name Anas
? Choose programming language JavaScript
? Choose the package manager N

[2020-04-24 11:47] Anas-Alwindawee opened #494 "SAOError: Failed to install packages"
Hi

I'm getting below error when creating new nuxt app, I tried to clear the npm cache and installed essential build packages but with no chance,

WSL Ubuntu 20.04 LTS, node v12.16.2, npm v6.14.4, below was my choices and the errors I get,

anas@DESKTOP-VENR4M1:~$ npx create-nuxt-app test-nuxt

create-nuxt-app v2.15.0
✨ Generating Nuxt.js project in test-nuxt
? Project name test-nuxt
? Project des

[2020-04-25 16:07] kkukelka commented on #494
I ran into difficulties while creating a nuxt-app via npx create-nuxt-app today as well. (Mac OSX 10.14.6, Node v13.9.0)
[code]
Not sure if related to the problem stated above, since error gets thrown before I even reach the options dialogue.

[2020-04-25 21:18] mikeglopez opened #495 "Cannot GET from Express server in production, 404 (Not Found)"
Hi,

I'm attempting to deploy a Nuxt app with an express server. I have tried deploying to both Heroku and Netlify and have gotten the same error on both, so I'm assuming there's an error somewhere in my Nuxt/Express configuration. I created a new test app to see if I could resolve the issue and even that is giving me issues.

Everything works fine locally, but when deployed, returns a 404 error.

[2020-04-26 16:45] Strahinja commented on #455
I was able to confirm this is specifically an issue of `create-nuxt-app`. I made a [test app in Codesandbox.io][1] by forking the `codesandbox-nuxt` repository and set it up to use `@nuxtjs/vuetify`. After generating and deploying to Netlify, the error page on [the website][2] doesn't have the issue.

[1]: https://codesandbox.io/s/vuetify-error-page-bug-test-ex6e1
[2]: https://csb-ex6e1.netlify.ap

[2020-04-26 20:17] faysal146 opened #496 "fail to serve app"
![nuxtjs](https://user-images.githubusercontent.com/47469289/80318616-2c845f80-882d-11ea-91a4-defb3183e1e2.png)

[2020-04-27 02:31] Liumkattan opened #498 "Nuxt blocks Fastify routes"
It appears that Nuxt `nuxt.render` method blocks Fastify routes.

## Reproduction
Use `npx create-nuxt-app <project-name>` with the following configuration
[code]

Then add a simple fastify route to `/server/index.js`
[code]

## Result
Fastify routes returns 404

## What i have tried
+ Disabling Nuxt render (`fastify.use(nuxt.render)`) does allow Fastify routes to be exposed

I guess adding a whit

[2020-04-27 08:31] myokoym commented on #494
Hi, I ran into the same error (SAOError), but it worked by run `npm install` manually.

[code]

[2020-04-27 10:47] joshuadabejero commented on #441
Hey man, I made it work using Yarn. Choose Yarn too as package manager if you use ```yarn create nuxt-app```. Tho still NPM as package manager is not working. Getting that ```SAOError: ...```.

[2020-04-27 13:07] #490 closed

[2020-04-27 17:16] Anas-Alwindawee commented on #441
Hi, I'll give it try, is there a way to make it work with npm?

BR

[2020-04-27 17:53] overbid commented on #441
I think this is is-promise problem now is-promise upgrade to 2.2.1 to fix this problem.

[2020-04-29 04:25] Reeywhaar commented on #465
Adding it to the repo will indeed be helpful as now doing it with documentation gives error:
[code]

...and trying to modify piece from docs to be:
[code]
...gives following error:
[code]

[2020-04-29 07:43] kevinmarrec commented on #465
@Reeywhaar

This PR adds it : https://github.com/nuxt/create-nuxt-app/pull/449

And about your error, I never had this one, I think you have a mistake in your `configuration`, please open a new issue on TypeScript repo with reproduction so I can find a fix for you.

[2020-04-29 07:49] kevinmarrec commented on #465
@Reeywhaar I think it's `babel` error, you may didn't look at : https://typescript.nuxtjs.org/guide/lint.html#configuration (see Warning)

[2020-04-29 08:31] clarkdo opened #500 "Replace axios-module with http module"
Replace https://github.com/nuxt-community/axios-module with https://github.com/nuxt/http

[2020-04-30 14:11] iosch-gtlng commented on #383
I got the same error. I used Node.js version 14.x, then switched to Node.js version 12.x and the problem was fixed.

[2020-04-30 23:52] Anas-Alwindawee commented on #494
Hi,

I tried the suggested steps however its did not fix the issue, and tried many other things like clear the cache of npm manually with no chance, then I decide to move to cloud development environment where all my problems solved.

BR

[2020-04-30 23:52] #494 closed

[2020-05-02 14:43] airBogdan opened #510 "create nuxt app with ava testing issue"
### Version

[v2.11.0](https://github.com/nuxt.js/releases/tag/v2.11.0)

### Reproduction link

[https://jsfiddle.net/](https://jsfiddle.net/)

### Steps to reproduce

npx create-nuxt-app <project-name>
and then run npm (run) test

### What is expected ?

test should work

### What is actually happening?

test doesnt work

### Additional comments?

First of all, the command to create new nuxt app

[2020-05-03 15:28] magpiedigital opened #511 "Vuetify module causes error SSR"
When selecting Vuetify module in create nuxt app and deploying to google app engine, I get 500 server error.

[2020-05-03 16:32] magpiedigital commented on #511
This was a problem with the nuxt version. create nuxt app created nuxt 2.0.0, which was somehow incompatible with the vuetify loader. But why is create nuxt app not downloading latest?

[2020-05-03 21:47] magpiedigital commented on #511
Actually, still occurs through nuxt create app.

I was able to remove the error by downloading vuetify module separately, and updating nuxt. But if I add vuetify module in nuxt create app, and then update both veutify module and nuxt, there's still a 500 server error

[2020-05-05 07:56] climba03003 commented on #495
I am not sure if I am correct or not. But in my experience.

When you are in local environment, the you are starting the nuxt server file `server/index.js`. However, in the guide you posted. You are using `nuxt start` command and it is not starting the `server/index.js` file. Which means all the extra route you write in `server/index.js` will not be exist.